<div id="custom-inputs-{{ id }}" class="custom-inputs py-3">
   
</div>
<script>
   function showIf(input, ifValue){
      input.classList.add("d-none");
      //evitar que se envie el valor del input en el formulario
      input.querySelector("input").setAttribute("disabled", "disabled");
       for(let i in ifValue){
          let inputValidate = document.querySelector("#"+i+"-{{ id }}");
          inputValidate.addEventListener("change", function(){
               let value = inputValidate.value;
             if(value == ifValue[i]){
               input.classList.remove("d-none");
             

             }else{
               input.classList.add("d-none");
               
             }
          });
       }
   }
  document.addEventListener("ready:owl", function(){
      all_inputs = $.getJSON("{{ "custom-inputs.json" | asset_url}}" , function(data){
         {% for coll in collections_product %}
            let inputs = data["{{coll.title}}"];

            for(let i in inputs){
              let custom = document.createElement("div");
              
               custom.innerHTML = `<label for="${inputs[i].name}">${inputs[i].name}</label>`;
               switch(inputs[i].type){
                  case "select":
                  custom.classList.add("custom-input", "select-custom");
                  let select = document.createElement("select");
                  select.name = "properties["+inputs[i].name+"]";
                  select.id = inputs[i].name+"-{{ id }}";
                  // agregar las options
                  for(let opt in inputs[i].options){
                     let option = document.createElement("option");
                     option.value = inputs[i].options[opt];
                     option.innerHTML = inputs[i].options[opt];
                     select.appendChild(option);
                  }
                  custom.appendChild(select);
                  document.querySelector("#custom-inputs-{{ id }}").appendChild(custom);

                  break;

                  case "text":
                    custom.classList.add("custom-input", "text-custom");
                  let input = document.createElement("input");
                  input.type = "text";
                  input.name = "properties["+inputs[i].name+"]";
                  input.id = inputs[i].name;
                  input.placeholder = inputs[i].placeholder;	
                  custom.appendChild(input);
                  
                  if(inputs[i]["show-if"]){
                     showIf(custom, inputs[i]["show-if"]);
                  }

                  document.querySelector("#custom-inputs-{{ id }}").appendChild(custom);
                  break;
               }
            }

            
         {% endfor %}
      });
      
   });
</script>
 <style>
   .custom-inputs select{
     border: 1px solid var(--primary-light);
    border-radius: 50px;
    outline: none;
   }
   .custom-inputs{
     display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
   }
   .custom-input.text-custom{
     grid-column: 1 / 3;
   }

     .custom-inputs .custom-input select,   .custom-inputs .custom-input input{
       display:block;
       width:100%;
     }

 </style>