<div id="custom-inputs-{{ id }}" class="custom-inputs py-3">
   
</div>
 

<script>
   function showIf(input, ifValue){
      input.classList.add("d-none");
      //evitar que se envie el valor del input en el formulario
      input.setAttribute("disabled", "disabled");
       for(let i in ifValue){
          let inputValidate = document.querySelector("#"+i+"-{{ id }}");
          inputValidate.addEventListener("change", function(){
               let value = inputValidate.value;
             if(value == ifValue[i]){
               input.classList.remove("d-none");
               input.removeAttribute("disabled");

             }else{
               input.classList.add("d-none");
               input.setAttribute("disabled", "disabled");
             }
          });
       }
   
   
   }
  document.addEventListener("ready:owl", function(){
      all_inputs = $.getJSON("{{ "custom-inputs.json" | asset_url}}" , function(data){
         {% for coll in collections_product %}
            let inputs = data["{{coll.title}}"];

            for(let i in inputs){
              let custom = document.createElement("div");
               custom.classList.add("custom-input");
               custom.innerHTML = `<label for="${inputs[i].name}">${inputs[i].name}</label>`;
               switch(inputs[i].type){
                  case "select":
                  let select = document.createElement("select");
                  select.name = "properties["+inputs[i].name+"]";
                  select.id = inputs[i].name+"-{{ id }}";
                  // agregar las options
                  for(let opt in inputs[i].options){
                     let option = document.createElement("option");
                     option.value = inputs[i].options[opt];
                     option.innerHTML = inputs[i].options[opt];
                     select.appendChild(option);
                  }
                  custom.appendChild(select);
                  document.querySelector("#custom-inputs-{{ id }}").appendChild(custom);

                  break;

                  case "text":
                  let input = document.createElement("input");
                  input.type = "text";
                  input.name = "properties["+inputs[i].name+"]";
                  input.id = inputs[i].name;
                  input.placeholder = inputs[i].placeholder;	
                  custom.appendChild(input);
                  
                  if(inputs[i]["show-if"]){
                     showIf(custom, inputs[i]["show-if"]);
                  }


                  document.querySelector("#custom-inputs-{{ id }}").appendChild(custom);
                  break;


               }
            }

            
         {% endfor %}
      });
      
   });

 </script>

 <style>
   .custom-inputs{
     display: flex;
    flex-wrap: wrap;
   }
   .custom-inputs .custom-input {
    flex-basis: 50%;
    padding: 0 5px;
}
     .custom-inputs .custom-input select,   .custom-inputs .custom-input input{
       display:block;
       width:100%;
     }
   @media screen and (max-width: 767px){
      .custom-inputs .custom-input {
        flex-grow: 0;
        flex-basis: 100%;
        margin-top: 10px;
        padding: 0;
      }
   }
 </style>