 <div class="col-lg-{{col-lg}} col-md-{{col-md}} col-sm-{{col-sm}} photo px-0">
  
      <a href="{{ url-video }}"
           class="position-relative" data-fancybox="gallery"
           data-caption="{{ caption }}">

          <video playsinline="playsinline" loading="lazy" src="{{ url-video }}"></video>
          <i role="button"  class="position-absolute playBtn-off fa-solid fa-play" style="font-size:60px;"></i>
           </a>
      </div>
