 <div class="col-lg-{{col-lg}} col-md-{{col-md}} col-sm-{{col-sm}}">
   <a href="{{ image }}" class="position-relative" data-fancybox="gallery"
   data-caption="{{ caption }}">
    <img loading="lazy" src="{{ image }}&width=500" alt="<?php echo esc_attr( $image['alt'] ); ?>" />
    </a>
 </div>