
{% comment %}
    Renders a product card using "Grid" style
    Accepts:
    - max_height: {Number} Maximum height of the product's image (required)
    - product: {Object} Product Liquid object (required)
    - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)

    Usage:
    {% include 'product-card-grid', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
{% endcomment %}
<section class="product-grid">
<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
  {%- assign preview_image = product.featured_media.preview_image -%}
  {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  {% unless preview_image == blank %}
    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id: img_id %}
  {% endunless %}
  
  

        <div class="class-item position-relative">
               {% if product.compare_at_price > product.price and product.available %}
                  <div class="tag-price-comparation">
                    <span class="price-1">{{product.compare_at_price | money }}</span>
                    <span class="price-2">{{product.price | money}}</span>
                	</div>
                {% else %}
                
                <div class="tag-price">
                	{{product.price | money}}
                </div>
                {% endif %}
  
                    <div class="ci-pic">
                        <a href="{{ product.url}}">
                            
                          <img style="min-height: 93%;"
                              class="card-img-top"
                              draggable="false"
                              srcset="
                                {%- if product.featured_media.width >= 165 -%}
                                      {{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                {%- if product.featured_media.width >= 360 -%}
                                      {{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                {%- if product.featured_media.width >= 533 -%}
                                      {{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                {%- if product.featured_media.width >= 720 -%}
                                      {{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                {%- if product.featured_media.width >= 940 -%}
                                      {{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                {%- if product.featured_media.width >= 1066 -%}
                                      {{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                      {{ product.featured_media | image_url }}
                                      {{ product.featured_media.width }}w"
                             src="{{ product.featured_media | image_url: width: 533 }}"
                             sizes="(min-width: {{ settings.page_width }}px) 
                                    {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                             alt="{{product.title}}"
                             class="motion-reduce"
                             {% unless lazy_load == false %}loading="lazy"{% endunless %}
                             width="{{ product.featured_media.width }}"
                             height="{{ product.featured_media.height }}"
                             >
                        </a>
                    </div>
                    
                    <div class="new-ci-text ">
                        <div class="custom-shape-divider-bottom-1660074041">
                            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                                <path
                                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                                    class="shape-fill"
                                ></path>
                            </svg>
  
                        </div>
                    </div>
                    <div class="description-category position-absolute">
                      <h5 class="text-primary m-0">{{ product.title }}</h5>
                      <a data-ajax-cart-request-button  class="btn btn-circle" href="{{routes.cart_add_url}}?id={{ product.variants.first.id }}&quantity=1"><i class="fa fa-shopping-cart"></i></a>
                    </div>

          </div>

    

</section>