 <!-- SECTION PASTEL -->
 
 <style>
   
    i {
      font-family: "font-awesome";
    }
    

    body .ui {
      width: 65vw;
      position: relative;
      margin: 0 auto;
      max-width: 900px;
       
    }
    body .ui_fruit {
      position: absolute;
      z-index: 34;
      right: -47px;
      pointer-events: none;
      top: 160px;
    }
    body .ui_fruit img {
      width: 344px;
    }
    body .ui_basket {
      color: #de467c;
      position: relative;
      top: -6px;
      text-align: right;
    }
    body .ui_inner {
     
    height: 340px;
    background-image: linear-gradient(45deg, #ffdddd 0%, var(--primary-light) 100%);
    padding: 40px;
    border-radius: 80px 0px 80px 80px;
    }
    body .ui_inner .sb {
        overflow: hidden;
        width: 450px;
        top: -1px;
        left: -220px;
        position: absolute;
        height: 480px;
        -webkit-animation: spin 14s infinite linear;
        animation: spin 14s infinite linear;
    
    }
    body .ui_inner .sb img {
      width: 450px;
      opacity: 0;
      transition: all 0.15s 0s;
    }
    body .ui_inner__selection label .m,
    body .ui_inner__selection label .s,
    body .ui_inner__selection label .l,
    body .ui_inner__selection label .h {
      background: var(--primary);
      position: absolute;
      right: -130px;
      cursor: pointer;
      width: 130px;
      color: white;
      padding: 20px;
      font-size: 14px;
      z-index: 4;
      font-family: "fuente-contenido", cursive;
      top: 0;
      text-align: center;
      transition: all 0.2s;
      border-radius: 0 60px 60px 0 !important;
      height: 64px;
      display: flex;
      justify-content: center;
      line-height: 1.1;
      align-items: center;
    }
    body .ui_inner__selection label .m:hover,
    body .ui_inner__selection label .s:hover,
    body .ui_inner__selection label .l:hover,
    body .ui_inner__selection label .h:hover {
      padding: 20px 20px 20px 30px;
    }
    body .ui_inner__selection label .m,
    body .ui_inner__selection label .s,
    body .ui_inner__selection label .l,
    body .ui_inner__selection label .h {
      border-radius: 255px 15px 205px 35px/35px 225px 35px 255px;
    }
    body .ui_inner__selection label .l {
      top: 0px;
      border-radius: 265px 35px 185px 14px/8px 235px 12px 255px;
      width: 126px;
      right: -119px;
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.06) inset;
    }

    body .ui_inner__selection label .s {
      top: 63px;
      border-radius: 195px 35px 155px 3px/19px 265px 25px 235px;
      width: 127px;
      right: -120px;
      background: #d28383;
      
    }

    body .ui_inner__selection label .h {
      top: 187px;
      border-radius: 195px 9px 177px 3px/49px 275px 65px 235px;
      width: 127px;
      right: -123px;
    }

    body .ui_inner__selection label .m {
          top: 127px;
          border-radius: 265px 15px 205px 1px/0px 225px 35px 245px;
          right: -123px;
          box-shadow: 0px 1px 0px 0px rgb(255 255 255 / 6%) inset;
          background: #c37173;

    }

    body .ui_inner__selection input[type=radio] {
      display: none;
    }
    body .ui_inner__selection input[type=radio]:checked + label .selected {
          background: #e99c9c !important;
    }
    body .ui_inner__selection input[type=radio]:checked + label .ui_inner__slider .sb img {
      opacity: 0.3;
      transition: all 1s 0.2s;
    }
    body .ui_inner__selection input[type=radio]:checked + label .ui_inner__slider .slide_inner__left {
      opacity: 1;
      left: -100px;
      transition: all 0.5s 0.35s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    body .ui_inner__selection input[type=radio]:checked + label .ui_inner__slider .slide_inner__right h2 {
      opacity: 1;
      left: 0px;
      transition: all 0.5s 0.4s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    body .ui_inner__selection input[type=radio]:checked + label .ui_inner__slider .slide_inner__right h3 {
      opacity: 1;
      left: 0px;
      transition: all 0.5s 0.45s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    body .ui_inner__selection input[type=radio]:checked + label .ui_inner__slider {
      pointer-events: all;
    }
    body .ui_inner__selection input[type=radio]:checked + label .ui_inner__slider .slide_inner__right p, body .ui_inner__selection input[type=radio]:checked + label .ui_inner__slider .slide_inner__right a {
      opacity: 1;
      left: 0px;
      transition: all 0.5s 0.5s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    body .ui_inner__selection input[type=radio]:checked + label .ui_inner__slider .slide_inner__right input {
      position: relative;
      opacity: 1;
      left: 0px;
      transition: all 0.5s 0.55s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
   
    body .ui_inner .ui_inner__slider {
      pointer-events: none;
    }
    body .ui_inner .ui_inner__slider .slide_inner {
      position: absolute;
      top: 54px;
      text-align: right;
    }
    body .ui_inner .ui_inner__slider .slide_inner__left {
      display: inline-block;
      width: 42%;
      opacity: 0;
      position: absolute;
      left: -220px;
      top: 10px;
      -webkit-transition: all 0.5s 0s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    body .ui_inner .ui_inner__slider .slide_inner__left img {
      width:330px;
      height: 340px;
      max-width: none;
      z-index: 8;
      position: relative;
      box-shadow: var(--shadow);
      object-fit: cover;
      position: absolute;
      left: -50px;
      top: -63px;
      border-radius: var(--radius);
      min-width: 236px;
    }
    body .ui_inner .ui_inner__slider .slide_inner__left .firework {
      position: relative;
      left: 130px;
      top: -150px;
    }
    body .ui_inner .ui_inner__slider .slide_inner__left .firework_part {
      position: absolute;
      border-radius: 10px;
      background: Red;
      transition: left 0.99s 0.36s cubic-bezier(0.23, 1, 0.32, 1), transform 0.6s 0.36s, top 0.99s 0.36s cubic-bezier(0.33, 1, 0.32, 1), opacity 0.99s 0.55s;
      left: 0;
      top: 0;
      opacity: 1;
    }
   
    body .ui_inner .ui_inner__slider .slide_inner__right {
      display: inline-block;
  
      padding: 0px 40px 0px 0px;
      text-align: left;
      position: relative;
      z-index: 1;
 
    }
    body .ui_inner .ui_inner__slider .slide_inner__right .hid {
      display: none;
    }
    body .ui_inner .ui_inner__slider .slide_inner__right h2 {
      margin: 0px 0px 10px 0px;
      font-family: "fuente-titulos", cursive;
      color: var(--primary);
      font-size: 32px;
      position: relative;
      opacity: 0;
      left: -90px;
      transition: all 0.5s 0.2s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    body .ui_inner .ui_inner__slider .slide_inner__right h3 {
      margin: 0px 0px 10px 0px;
      font-family: "Satisfy", cursive;
      color: var(--tertiary);
      font-size: 20px;
      position: relative;
      opacity: 0;
      left: -90px;
      transition: all 0.5s 0.25s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    body .ui_inner .ui_inner__slider .slide_inner__right h3 span {
      font-size: 11px;
    }
    body .ui_inner .ui_inner__slider .slide_inner__right p, body .ui_inner .ui_inner__slider .slide_inner__right a {
      margin: 0;
      line-height: 22px;
      position: relative;
      opacity: 0;
      left: -90px;
      transition: all 0.5s 0.3s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    body .ui_inner .ui_inner__slider .slide_inner__right input {
      margin: 20px 0px;
      padding: 10px;
      outline: none;
      border-radius: 255px 15px 205px 35px/35px 225px 35px 255px;
      font-family: "fuente-contenido", cursive;
      border: 3px solid #e8e8e8;
      color: #de467c;
      width: 55px;
      text-align: Center;
      position: relative;
      opacity: 0;
      left: -40px;
      transition: all 0.5s 0.35s cubic-bezier(0.175, 1.605, 0.455, 0.92);
    }
    .item-best-sellers .container-img-1{
    width:100%;
    height: 320px;
    }
    .item-best-sellers .container-img-1 img{
    width:100%;
    height: 100%;
    }
    .item-best-sellers h1{
      font-size:40px;
    }
    body .ui_inner .ui_inner__slider .slide_inner__right .add input {
      display: none;
    }
 
    @-webkit-keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
    
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
    @media screen and (max-width: 767px){
      .page-width-md{
        padding-right:22px;
        padding-left:22px;
        width:100% !important;
      }
     
    }
    @media screen and (min-width: 767px){
     
      body .ui_inner .ui_inner__slider .slide_inner__right{
        padding-left: clamp(221px, 11vw, 300px);;
      }
      .slide_inner__right p{
        padding-right: 60px;
      }
    }

.slide_inner{
  pointer-events:none;
}
   .slide_inner a{
     pointer-events:all;
   }
   .item-best-sellers p {
      max-height: 117px;
      margin-bottom: 20px;
      height: 117px;
   }
</style>

 
<div class='ui page-width-md d-none d-lg-block'>
  <div class='ui_inner'>
     <div class='ui_fruit'>
        <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/treats.png'>
     </div>
     <div class="ui_inner__selection">
     {% assign newElemen = 0 %} {% for block in blocks %} {% if block.type == "product" %} {% if newElemen == 0 %}
     <!-- 1ER ELEMENTO -->
     <input checked="checked" id="lovely" name="selection" type="radio" />
     <label for="lovely">
         <div class="selected l">{{ block.settings.featured_product.title }}</div>
         <div class="ui_inner__slider">
             <div class="sb">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/starburst2.png" />
             </div>
             <div class="slide">
                 <div class="slide_inner">
                     <a href="{{block.settings.featured_product.url}}" class="slide_inner__left">
                         <img src="{{ block.settings.featured_product.featured_image | image_url }}" />
                     </a>
                     <div class="slide_inner__right">
                         <h2>{{block.settings.featured_product.title}}</h2>
                         <h3>{{block.settings.featured_product.price | money }}</h3>
                         <p  class="mb-5">{{block.settings.featured_product.description}}
                        
                        
                        </p>

                        {%  if block.settings.open_modal_details %}
                          {% assign product = block.settings.featured_product %}
                           <div id="form-{{ product.id }}" class=" d-none form-product-inner">
                             {% render "form-product" product:product, hidden_variants_selector: true, scripts_off: true %}
                            </div>
                          
                          <a onclick="openModalInRecommendations(
                            {{ product.id }}, 
                           '{{ product.title }}',
                           '{{ product.price | money}}',
                           `{{ product.description | strip_html }}`,
                           `{{ product.images.first | img_url : "master" }}`,
                           `{{ product.url }}`,
                           `{{ product.collections | map: "title" | json | replace: '"', "'" }}`
                          )" style="z-index: 5;" class="btn-small" data-toggle="modal" href="#modal-details"><i class="fa fa-shopping-cart"></i> Add to cart </a>
                        {% else %}
                        <a  data-ajax-cart-request-button style="z-index: 5;" class="btn-small" href="{{routes.cart_add_url}}?id={{ block.settings.featured_product.variants.first.id }}&quantity=1" class="container-img sb">
                          <i class="fa fa-shopping-cart"></i> Add to cart
                        </a>
                        {% endif %}
                        

                       
                     </div>
                 </div>
             </div>
         </div>
     </label>
     {% assign newElemen = 1 %} {% elsif newElemen == 1 %}
     <!-- 2DO ELEMENTO -->
     <input id="super" name="selection" type="radio" />
     <label for="super">
         <div class="selected s">{{ block.settings.featured_product.title }}</div>
         <div class="ui_inner__slider">
             <div class="sb">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/starburst2.png" />
             </div>
             <div class="slide">
                 <div class="slide_inner">
                     <a class="slide_inner__left" href="{{ block.settings.featured_product.url }}">
                         <img src="{{ block.settings.featured_product.featured_image | image_url }}" />
                     </a>
                     <div class="slide_inner__right">
                         <h2>{{block.settings.featured_product.title}}</h2>
                         <h3>{{block.settings.featured_product.price | money}}</h3>
                         <p  class="mb-5">{{block.settings.featured_product.description}}</p>
                        <a data-ajax-cart-request-button  style="z-index: 5;" class=" btn-small" href="{{routes.cart_add_url}}?id={{ block.settings.featured_product.variants.first.id }}&quantity=1" class="container-img sb">
                          <i class="fa fa-shopping-cart"></i> Add to cart
                          </a>
                       
                     </div>
                 </div>
              </div>
           </div>
        </label>


        
        {% assign newElemen = 2 %}
        {% elsif newElemen == 2 %}
        <!-- 3ER ELEMENTO -->
        <input id='mega' name='selection' type='radio'>
        <label for='mega'>
           <div class='selected m'>{{ block.settings.featured_product.title }}</div>
           <div class='ui_inner__slider'>
              <div class='sb'>
                 <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/starburst2.png'>
              </div>
              <div class='slide'>
                 <div class='slide_inner'>
                    <a href="{{block.settings.featured_product.url}}" class='slide_inner__left'>
                       <img src='{{block.settings.featured_product.featured_image | image_url}}'>
                    </a>
                    <div class='slide_inner__right'>
                       <h2>{{block.settings.featured_product.title}}</h2>
                       <h3>{{block.settings.featured_product.price | money}}</h3>
                       <p  class="mb-5">{{block.settings.featured_product.description}}
                      
                      
                      </p>
                      <a data-ajax-cart-request-button style="z-index: 5;" class=" btn-small" href="{{routes.cart_add_url}}?id={{ block.settings.featured_product.variants.first.id }}&quantity=1" class="container-img sb">
                        <i class="fa fa-shopping-cart"></i> Add to cart
                      </a>
                    </div>
                 </div>
             </div>
         </div>
     </label>
     {% assign newElemen = 3 %} {% elsif newElemen == 3 %}
     <!-- 4TO ELEMENTO -->
     <input id="huge" name="selection" type="radio" />
     <label for="huge">
         <div class="selected h">{{ block.settings.featured_product.title }}</div>
         <div class="ui_inner__slider">
             <div class="sb">
                 <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/starburst2.png" />
             </div>
             <div class="slide">
                 <div class="slide_inner">
                     <a href="{{block.settings.featured_product.url}}" class="slide_inner__left">
                         <img src="{{block.settings.featured_product.featured_image | image_url : width: 750 }}" />
                     </a>
                     <div class="slide_inner__right">
                         <h2>{{block.settings.featured_product.title}}</h2>
                         <h3>{{block.settings.featured_product.price | money}}</h3>
                         <p class="mb-5">{{block.settings.featured_product.description}}</p>
                        <a data-ajax-cart-request-button style="z-index: 5;" class="btn-small" href="{{routes.cart_add_url}}?id={{ block.settings.featured_product.variants.first.id }}&quantity=1" class="container-img sb">
                          <i class="fa fa-shopping-cart"></i> Add to cart
                        </a>
                     </div>
                 </div>
             </div>
         </div>
     </label>
     {% endif %} {% endif %} {% endfor %}
 </div>
 
  </div>
</div>
<div class=" owl-carousel d-flex d-lg-none carousel-best ">
  {% assign newElemen = 0 %}
  {% for block in blocks %}
  {% if block.type == "product" %}
 
  <div class="item-best-sellers" >
    <h1 class='selected l text-primary'>{{block.settings.featured_product.title}}</h1>
    <h3 class="mb-0 ">{{block.settings.featured_product.price | money}}</span></h3>
    <p class="py-4 scrollbar-0">{{block.settings.featured_product.description}}</p>
    <div class="container-img-1 position-relative">
    <a href="{{block.settings.featured_product.url}}" class="container-img sb">
       <img  class="radius" src='{{ block.settings.featured_product.featured_image | image_url }}' />
    
       
    
     </a>
     <a data-ajax-cart-request-button style="z-index: 5;bottom:20px; right:20px;border:none;" class="position-absolute btn-small" href="{{routes.cart_add_url}}?id={{ block.settings.featured_product.variants.first.id }}&quantity=1" class="container-img sb">
       <i class="fa fa-shopping-cart"></i> Add to cart
     </a>
   </div>
 </div>
  {% endif; %}
  {% endfor; %}
</div>
 <style>
    .ui_inner.owl-carousel .container-img {
    width: 150px;
    height: 150px; 
    }
    .ui_inner.owl-carousel .container-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    .item-best-sellers{
      display: flex;
      flex-direction: column;
      align-items: center;
      background: var(--primary-light);
      padding: 20px;
      border-radius: var(--radius);
      max-width: 500px;
    }
    .item-best-sellers h3{
      font-size: 23px;
    color: var(--secondary);
    }
    .carousel-best .owl-item{
    display: flex;
    justify-content: center;}
 </style>
{% render "custom-inputs-script" %}
<script>
  document.addEventListener('ready:owl', function() {
    $('.owl-carousel.carousel-best').owlCarousel({
      loop:true,
      margin:10,
      nav:false,
      dots:false,
      items: 1
    });
  });
</script>
  <!-- END SECTION PASTEL> -->