<div class="d-none d-md-block floating-container-{{id}} float-button btn-social scroll-tracking">
    <div class="floating-button"><i class="fa-solid fa-plus"></i></div>
    <div class="element-container">

               
         
        {% if facebook_user != blank  and facebook_link != blank  %}
        <a title="{{facebook_user}}" data-toggle="tooltip" data-placement="right"
            href="{{ facebook_link }}" target="_blank"
            class="float-element tooltip-left " style="
            background: {{background}};">
            <i class="fa-brands fa-facebook-f" style="color:{{text_color}};"></i>
        </a>
    {% endif %}
        {% if instagram_user != blank  and instagram_link != blank  %}

        <a title="{{instagram_user}}" data-toggle="tooltip" data-placement="right"
            href="{{ instagram_link }}" target="_blank"
            class="float-element tooltip-left " style="
            background: {{background}};">
            <i class="fa-brands fa-instagram" style="color:{{text_color}};"></i>
        </a>                                  
    {% endif %}
        
        {% if email != blank  %}
            <a title="{{email}}" data-toggle="tooltip" data-placement="right"
                href="mailto:{{ email }}" 
                class="float-element tooltip-left " style="
                background: {{background}};">
                <i class="fa fa-envelope" style="color:{{text_color}};"></i>
            </a>
            {% endif %} 

        {% if phone != blank  %}
            <a title="{{phone_tooltip}}" data-toggle="tooltip" data-placement="right"
                href="tel:{{ phone }}" 
                class="float-element tooltip-left " style="
                background: {{background}};">
                <i class="fa fa-phone" style="color:{{text_color}};"></i>
            </a>
            {% endif %}

        {% if location != blank  and location_tooltip != blank  %}
            <a title="{{location_tooltip}}" data-toggle="tooltip" data-placement="right"
                href="{{ location }}" target="_blank"
                class="float-element tooltip-left " style="
                background: {{background}};">
                <i class="fa-solid fa-map-marker-alt" style="color:{{text_color}};"></i>
            </a>
           
        {% endif %}
                                     
    </div>
    
    <style>
    @-webkit-keyframes come-in {
        0% {
            -webkit-transform: translatey(100px);
            transform: translatey(100px);
            opacity: 0;
        }

        30% {
            -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
        }

        70% {
            -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
        }

        100% {
            -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
            opacity: 1;
        }
    }

    @keyframes come-in {
        0% {
            -webkit-transform: translatey(100px);
            transform: translatey(100px);
            opacity: 0;
        }

        30% {
            -webkit-transform: translateX(-50px) scale(0.4);
            transform: translateX(-50px) scale(0.4);
        }

        70% {
            -webkit-transform: translateX(0px) scale(1.2);
            transform: translateX(0px) scale(1.2);
        }

        100% {
            -webkit-transform: translatey(0px) scale(1);
            transform: translatey(0px) scale(1);
            opacity: 1;
        }
    }

    .floating-container-{{id}}.in-top, .floating-container-{{id}}.in-footer{
        transform: translateY(200px);
       
    }


    .floating-container-{{id}} {
        position: fixed;
        width: 100px;
        height: 100px;
        bottom: {{bottom}};
        left: 0;
        {% if right %}
        left: auto;
        right: 0;
        {% endif %}
        transition: transform .4s ease-in-out;
        margin: 20px 0px;
        z-index: 10;

    }
    .floating-container-{{id}} .floating-button{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .floating-container-{{id}} .floating-button i{
        font-size: 25px;
    }
    .floating-container-{{id}}:hover {
        height: calc(55px + (70px * {{nr_items}})); 
    }

    .floating-container-{{id}}:hover .floating-button {
        -webkit-transform: translatey(5px);
        transform: translatey(5px);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .floating-container-{{id}}:hover .element-container .float-element:nth-child(1) {
        -webkit-animation: come-in 0.2s forwards 0.2s;
        animation: come-in 0.2s forwards 0.2s;
    }

    .floating-container-{{id}}:hover .element-container .float-element:nth-child(2) {
        -webkit-animation: come-in 0.2s forwards 0.2s;
        animation: come-in 0.2s forwards 0.3s;
    }

    .floating-container-{{id}}:hover .element-container .float-element:nth-child(3) {
        -webkit-animation: come-in 0.2s forwards 0.4s;
        animation: come-in 0.2s forwards 0.5s;
    }

    .floating-container-{{id}} .floating-button {
        --size: 1.4rem;
        height: calc(var(--size) * 4);
        width: calc(var(--size) * 4);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--primary-dark);
        bottom: 0px;
        border-radius: 50%;
        left: 0;
        right: 0;
        margin: auto 20px;
        ;
        color: white;
        line-height: 65px;
        text-align: center;
        font-size: 40px;
        font-weight: 500;
        z-index: 100;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .floating-container-{{id}} .float-element {
        position: relative;
        display: block;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 15px auto;
        color: white;
        font-weight: 500;
        text-align: center;
        line-height: 50px;
        z-index: 0;
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    .floating-container-{{id}} .float-element i {
        font-size: 19px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floating-container-{{id}} .float-element .material-icons {
        vertical-align: middle;
        font-size: 16px;
    }
    </style>
</div>