<style>
  .about-individual img{
        height: 400px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);

  }
</style>
<section class="about-individual py-section">
 
  <div class="container ">
    <div class="row ">
   
      
      
        <div class="col-6 text-left">
  
              <div class="col-12 title-section align-items-start px-0 ">
                 <h1> {{ section.settings.title }}</h1>
                 <h2 > {{ section.settings.subtitle }}</h2>              
              </div>
         
         

                 <p> {{ section.settings.block_text }}</p>

                    <a class="btn" href="{{ section.settings.button_link }}" >
                      {{ section.settings.button_label }}
                    </a>
      
         
        </div>
         <div class="col-6 d-flex justify-content-center align-items-center">
          <img class="img-fluid img-1 my-5" src="{{ section.settings.image-1 | img_url: 'master' }}" data-aos="zoom-in" />
          
        </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "About Us",
    "settings": [
	{
		"type": "text",
        "id": "title",
		"label": "Title Section",
        "default": "About"
        
     },
     {
		"type": "text",
        "id": "subtitle",
		"label": "SubTitle Section",
        "default": "Subtitle"
      },
     {
	     "type": "richtext",
          "id": "block_text",
          "label": "Content Text English"
     },
     {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
	  "default": "Read More"
      },
      {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
      },
	  {
	   "type": "image_picker",
	   "id": "image-1",            
        "label": "Image About 1"
	  }
     
	]
  }
{% endschema %}
