<style>
  {% for block in section.blocks %}
  {% if block.type == "image-transparency" %}
      .section-{{ section.id }}-img-transparency{
          position:relative;
      }
    .section-{{ section.id }}-img-transparency::before{
		content: "";
        width: {{block.settings.width}}px;
    	height: {{block.settings.height}}px;
        background-image:url("{{block.settings.image | image_url: width: 700 }}");
        position:absolute;

        top: {{block.settings.top}}%;
        left: {{block.settings.left}}%;
        z-index: 0;
        opacity: 0.1;
        background-size: cover;
	  }

	 {% if block.settings.hidden_mobile %}
	  @media screen and (max-width: 767px) {
		.section-{{ section.id }}-img-transparency::before{
			display:none;
		}
	  }
	{% endif %}
    

  {% endif %}
{% endfor %}

  .about-individual .img-1{
        height: 400px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);

  }
</style>
<section class="about-individual py-section section-{{ section.id }}-img-transparency">
 
  <div class="container ">
    <div class="row ">
   
      
      
        <div class="col-md-6 text-left" style="display: flex;
          flex-wrap: wrap;
          align-items: center;">
  
              <div class="col-12 title-section align-items-start px-0 ">
                 <h1> {{ section.settings.title }}</h1>
                 <h2 > {{ section.settings.subtitle }}</h2>              
              </div>
         
         

                 <p> {{ section.settings.block_text }}</p>

                    <a class="btn d-md-block d-none" href="{{ section.settings.button_link }}" >
                      {{ section.settings.button_label }}
                    </a>
      
         
        </div>
         <div class="col-md-6 d-flex flex-wrap justify-content-center align-items-center">
          <img class="img-fluid img-1 my-5" src="{{ section.settings.image-1 | image_url : width: 650 }}" data-aos="zoom-in" />
           <a class="btn d-md-none d-block" href="{{ section.settings.button_link }}" >
            {{ section.settings.button_label }}
          </a>
        </div>




       
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "About Us",
    "settings": [
	{
		"type": "text",
        "id": "title",
		"label": "Title Section",
        "default": "About"
        
     },
     {
		"type": "text",
        "id": "subtitle",
		"label": "SubTitle Section",
        "default": "Subtitle"
      },
     {
	     "type": "richtext",
          "id": "block_text",
          "label": "Content Text English"
     },
     {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
	  "default": "Read More"
      },
      {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
      },
	  {
	   "type": "image_picker",
	   "id": "image-1",            
        "label": "Image About 1"
	  }
     
	],
      "blocks": [{
			"type": "image-transparency",
			"limit": 1,
			"name": "Image with transparency",
			"settings": [
				{
				"type" : "image_picker",
				"id": "image",
				"label": "Select a image"
				},
				{
                  "type": "range",
                  "id": "top",
                  "min": -50,
                  "max": 100,
                  "step": 2,
                  "unit": "%",
                  "label": "Top Position",
                  "default": 40
                },
				{
                  "type": "range",
                  "id": "left",
                   "min": -50,
                  "max": 100,
                  "step": 1.5,
                  "unit": "%",
                  "label": "Left Position",
                  "default": 40
                },
				{
                  "type": "range",
                  "id": "width",
                  "min": 10,
                  "max": 1000,
                  "step": 10,
                  "unit": "px",
                  "label": "Width",
                  "default": 100
                },
              
				{
                  "type": "range",
                  "id": "height",
                   "min": 10,
                  "max": 1000,
                  "step": 10,
                  "unit": "px",
                  "label": "Height",
                  "default": 100
                },
              {
                  "type": "color_background",
                  "id": "overlay_before",
                  "label": "overlay",
                  "default": "radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%)"
                },
				{
					"type": "checkbox",
					"id": "hidden_mobile",
					"label": "Hidden in Mobile",
					"default": true
				}
			]
		}]
  }
{% endschema %}
