<style>

  
.channels{
  background: #ff0000;
  text-align: center;
  height: auto !important;
  position: relative;
  overflow: hidden;
  color: #fff;
}
  
  
.channels p{

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
}

.channels img{
  max-width: 70px;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 7;
  transition: all ease-in-out .3s;
}


.channels h2{
  color: #fff;
  font-size:30px;
  text-transform: uppercase;
  position: relative;
  z-index: 7;
  margin-bottom: auto;
}

.channels img:hover {
    transform: rotateY(180deg);
    transition: all ease-in-out .3s;
}
  
 .channels .adorno {
    position: absolute;
    left: -200px;
    top: 80px;
    height: 100%;
    opacity: 0.05;
}

@media (max-width: 760px){
  .channels .border-left-channels {
    border-left: 0px;
  }
  
  .channels .adorno {
    position: absolute;
    left: -200px;
    top: 80px;
    height: 100%;
    opacity: 0.05;
}
  
  .channels h2{
  
  margin: 20px 0px;
}
  
  .channels p{

  margin-bottom: 20px;
}



}
 
/*.channels .cuadro-0{
  width: 140px;
  height: 300px;
  background: #191919;
    transform: skew(-40deg);
    position: absolute;
    top: 0;
    left: -13%;
    content: '';
    z-index: 0; 
     opacity: 0.6;    
}

.channels .cuadro-1{
  width: 140px;
  height: 600px;
  background: #b5140a;
    transform: skew(-40deg);
    position: absolute;
    top: 0;
    left: -12%;
    content: '';
    z-index: 0;
    opacity: 0.6;
}

.channels .cuadro-2{
  width: 160px;
  height: 600px;
  background: #000;
    transform: skew(-40deg);
    position: absolute;
    top: 0;
    left: -7%;
    content: '';
    z-index: 0;
    opacity: 0.3;
}*/
.custom-shape-divider-top-1660083344 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
@keyframes derrame{
  0% {
    height: 92px;
  }
  100% {
    height: 252px;
  }
}
.custom-shape-divider-top-1660083344 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 92px;
  transition-property: height;
  
}

.custom-shape-divider-top-1660083344 .shape-fill {
  fill: var(--tertiary);
}

[data-aos=derrame].aos-animate {
  animation: derrame 1s ease-in-out forwards;
}

</style>

  <section data-aos="derrame" class="channels fix py-section">

    <div class="custom-shape-divider-top-1660083344">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>


          <div class="container">
                             
                  <div class="row  justify-content-center d-flex align-items-center ">
                      <div class="col-md-4 justify-content-center d-flex align-items-center ">
                        <h2>{{ section.settings.title_channels }}</h2>
                        
                      </div>
                    
                     <div class="col-md-4">
                       <div class="row">
                         <div class="col-md-6 col-6 ">
                         <img src="{{ section.settings.image_channel_1 | img_url: 'master' }}" loading="lazy" alt="">  
                          <p> {{ section.settings.channel_1 }}</p>
                         </div>
                         <div class="col-md-6 col-6 ">
                         <img src="{{ section.settings.image_channel_2 | img_url: 'master' }}" loading="lazy" alt="">  
                         <p> {{ section.settings.channel_2 }}</p>
                         </div>
                       </div>           
                     </div>
                    <div class="col-md-4 ">
                       <div class="row">
                         <div class="col-md-6 col-6 ">
                         <img src="{{ section.settings.image_channel_3 | img_url: 'master' }}" loading="lazy" alt="">  
                         <p> {{ section.settings.channel_3 }}</p>
                         </div>
                         <div class="col-md-6 col-6 ">
                         <img   src="{{ section.settings.image_channel_4 | img_url: 'master' }}" loading="lazy" alt="">  
                         <p> {{ section.settings.channel_4 }}</p>
                         </div>
                       </div>           
                     </div>
                   
                   
                                         
                  </div>                                  
                </div>
                
                   
        </section> 



{% schema %}
  {
    "name": "Benefits",
    "settings": [ 
    {
	"type": "text",
     "id": "title_channels",
     "label": "Title",
     "default": "Benefits"
	 },
     {
	"type": "image_picker",
     "id": "image_channel_1",
     "label": "Image 1"
	 },
    {
    "type": "text",
     "id": "channel_1",
     "label": "Text 1"     
	 },
     {
	"type": "image_picker",
     "id": "image_channel_2",
     "label": "Image 2"
	 },
    {
    "type": "text",
     "id": "channel_2",
     "label": "Text 2"     
	 },
     {
	"type": "image_picker",
     "id": "image_channel_3",
     "label": "Image 3"
	 },
    {
    "type": "text",
     "id": "channel_3",
     "label": "Text 3"     
	 },
     {
	"type": "image_picker",
     "id": "image_channel_4",
     "label": "Image 4"
	 },
    {
    "type": "text",
     "id": "channel_4",
     "label": "Text 4"     
	 }
    
      
    ],
   
  	"presets": [
      {
        "category": "Home",
        "name": "Benefits"     
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


