<section class="delivery ">
  <div class="container-fluid position-relative py-section" style="background-image:url({{ section.settings.image | image_url }})">
    <div class="title-section align-items-center">
      <h1 class="title-primary">{{ section.settings.title-delivery }}</h1>
      <h2 class="title-secondary">{{ section.settings.subtitle }}</h2>
    </div>
    <div class="container-icon w-100 d-flex justify-content-center mt-4">
      {%  if section.settings.icon1 != blank %}
      <i class="{{ section.settings.icon1 }}"></i>
        {%  endif %}
      {%  if section.settings.icon2 != blank %}
       <i class="{{ section.settings.icon2 }}"></i>
        {%  endif %} 
       {% if section.settings.icon3 != blank %}
       <i class="{{ section.settings.icon3 }}"></i>
         {%  endif %}
    </div>
    
  </div>
  <style>
    .delivery .container-icon.w-100.d-flex.mt-4 i:not(:first-child) {
        margin-left: clamp(20px, 12%, 120px);
    }
    .delivery .container-icon i{
      font-size: 20px;
      color: var(--primary-light);
      width: 50px;
      /* position: absolute; */
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--primary);
      border-radius: 17px;
    }
      .delivery > .container-fluid{
        background-size:cover;
        background-position:center;
        
      }
     .delivery > .container-fluid:before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:{{ section.settings.overlay }};
        z-index:0;
     }
    .delivery > .container-fluid *{
      z-index:1;
    }
  </style>
</section>



{% schema %}
  {
    "name": "Delivery",
    "settings": [ 
    {
	"type": "text",
     "id": "title-delivery",
     "label": "Title",
     "default": "We Have Delivery"
	 },
    {
	 "type": "text",
     "id": "subtitle",
      "label": "Subtitle",
     "default": "Benefits"
    },
      {
	 "type": "image_picker",
     "id": "image",
      "label": "Select a Image"
    },
      {
	 "type": "color_background",
     "id": "overlay",
      "label": "overlay" 
    },
      {

  	 "type": "text",
       "id": "icon1",
        "label": "Icon",
        "default": "fa-solid fa-moped"
      },
      {

  	 "type": "text",
       "id": "icon2",
        "label": "Icon",
        "default": "fa-solid fa-moped"
      },
      {

  	 "type": "text",
       "id": "icon3",
        "label": "Icon",
        "default": "fa-solid fa-moped"
      }
    ],
  	"presets": [
      {
        "category": "Home",
        "name": "Delivery"     
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}