<section class="delivery ">
  <div class="px-0 container-fluid position-relative py-section" style="background-image:url({{ section.settings.image | image_url }})">
    <div class="title-section align-items-center">
      <h1 class="title-primary">{{ section.settings.title-delivery }}</h1>
       <h2 class="title-secondary">{{ section.settings.subtitle }}</h2>
    </div>
    <div class="container-icon w-100 d-flex justify-content-center mt-4">
      {%  if section.settings.icon1 != blank %}
      <i data-aos="fade-right"  class="{{ section.settings.icon1 }}"></i>
        {%  endif %}
      {%  if section.settings.icon2 != blank %}
       <i data-aos="fade-right" data-aos-delay="350" class="{{ section.settings.icon2 }}"></i>
        {%  endif %} 
       {% if section.settings.icon3 != blank %}
       <i data-aos="fade-right" data-aos-delay="450" class="{{ section.settings.icon3 }}"></i>
         {%  endif %}
    </div>

    
<div class="custom-shape-divider-bottom-1628366579 d-lg-none d-none">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div>

  
  
<img src="https://cdn.shopify.com/s/files/1/0589/8125/3301/files/wavesOpacity.png?v=1628371667" class="velo d-none" >
  
<div class="header-waves">
<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
  </div>
  <style>





.custom-shape-divider-bottom-1628366579 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 3;
    opacity: 0.5;
   
}

.custom-shape-divider-bottom-1628366579 svg {
    position: relative;
    display: block;
    width: calc(210% + 1.3px);
    height: 192px;
}

.custom-shape-divider-bottom-1628366579 .shape-fill {
    fill: #FFFFFF;
     background: url(https://cdn.shopify.com/s/files/1/0589/8125/3301/files/bg-menu.png?v=1628364020);
}

    
  
.header-waves {
  position:absolute;
  text-align:center;
  background:transparent;
  color:white;
  bottom: 0;
  width: 100vw;
 z-index: 3;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
  
/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  
  h1 {
    font-size:24px;
  }
}
  
  
  
  


    
    .delivery .container-icon  i:not(:first-child) {
        margin-left: clamp(20px, 12%, 120px);
    }
    .delivery .container-icon i{
      font-size: 20px;
      color: var(--primary-light);
      width: 50px;
      /* position: absolute; */
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--primary);
      border-radius: 17px;
    }
      .delivery > .container-fluid{
        background-size:cover;
        background-position:center;
        
      }
     .delivery > .container-fluid:before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:{{ section.settings.overlay }};
        z-index:0;
     }
    .delivery > .container-fluid *{
      z-index:1;
    }
  </style>
</section>



{% schema %}
  {
    "name": "Delivery",
    "settings": [ 
    {
	"type": "text",
     "id": "title-delivery",
     "label": "Title",
     "default": "We Have Delivery"
	 },
    {
	 "type": "text",
     "id": "subtitle",
      "label": "Subtitle",
     "default": "Benefits"
    },
      {
	 "type": "image_picker",
     "id": "image",
      "label": "Select a Image"
    },
      {
	 "type": "color_background",
     "id": "overlay",
      "label": "overlay" 
    },
      {

  	 "type": "text",
       "id": "icon1",
        "label": "Icon",
        "default": "fa fa-cake"
      },
      {

  	 "type": "text",
       "id": "icon2",
        "label": "Icon",
        "default": "fa-solid fa-people-carry-box"
      },
      {

  	 "type": "text",
       "id": "icon3",
        "label": "Icon",
        "default": "fa-regular fa-face-laugh-beam"
      }
    ],
  	"presets": [
      {
        "category": "Home",
        "name": "Delivery"     
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}