
{%- style -%}
	#shopify-section-coco-footer{
		background-color: {{ section.settings.back_color_footer }};
	}
  .section-{{ section.id }} {
   
	margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
	border-radius: {{ section.settings.radius_border }}px {{ section.settings.radius_border }}px 0 0;
  }

  @media screen and (min-width: 750px) {

    .section-{{ section.id }} {
     
	  margin-top: {{ section.settings.margin_top }}px;  
    }
  }


    .myfooter {
        position: static;
        background: {{ section.settings.background_color }};
        --size-logo-width:  {{section.settings.logo_width}}px;
        --size-logo-height: {{section.settings.logo_height}}px;
        --lateral-compress: clamp(5rem, {{ section.settings.lateral-compress }}%, 12rem);
        --lateral-compress-mobile: 10px;
        --text-color: {{ section.settings.color-links }};
        --text-hover: {{ section.settings.color-links-hover }};
        --list-tick-color: {{ section.settings.bullet-point }};
        --copyright-color: {{ section.settings.background-copyright }};
        --copyright-text: {{ section.settings.text-copyright }};
        --copyright-font-size:{{section.settings.copyright-font-size}}px;
        --heading-color: {{ section.settings.color-heading }};
        --logo-footer: url({{section.settings.logo | img_url: "master"}}) !important;
        --border-social-media-icon: 1px white solid;
		--padding-top: {{section.settings.padding_top}}px;
		--padding-bottom: {{section.settings.padding_bottom}}px;
		--center-padding-column: {{section.settings.padding_center_column}}%;
		--heading-size: {{section.settings.heading-font-size}}px;
		--links-font-size: {{section.settings.links-font-size}}px;
		--icons-size: {{section.settings.icons-font-size}}px;
        --separation-icon-text: {{section.settings.separation-icon}}px;
		
    }
     
    .myfooter ul li>button {
        background: none;
        outline: none;
        border: none !important;
    }

    .myfooter .btn-circle {
        border: var(--border-social-media-icon);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    .myfooter ul * {
        font-size: var(--links-font-size) !important;
    }

    .myfooter .container-column-logo{
      align-self: center;
    }
    .myfooter .list li::before {
        background: var(--list-tick-color) !important;
        margin-right: var(--separation-icon-text);
    }

    .myfooter .my-logo {
        background-image: var(--logo-footer) !important;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: var(--size-logo-width);
        height: var(--size-logo-height);
        filter:brightness({{section.settings.brightness-logo}});
    }

    .myfooter>.row {
        padding-bottom: var(--padding-bottom);
        padding-top: var(--padding-top);
    }

    .myfooter .container-more-information ul li a,
    .myfooter .container-more-information ul li button,
    .myfooter .container-more-information ul li>span {
        display: grid;
        grid-template-columns: 20px 1fr;
        justify-content: center;
        align-items: self-start;
        grid-gap: var(--separation-icon-text);
    }
  .container-social-icons a{
    padding-right: calc(var(--separation-icon-text) / 2 );
    padding-left: calc(var(--separation-icon-text) / 2 );
  }
    .myfooter .container-more-information i{
      margin-top: 4px;
      display: flex;
    justify-content: center;
    align-items: center;
    }
    .myfooter a,
    .myfooter button,
    .myfooter span {
        color: var(--text-color);
        font-weight: 100;
    }
       .myfooter .container-logo-section{
          width: -moz-fit-content;
          width: fit-content;
       }
    .myfooter a:hover,
    .myfooter button:hover,
    .myfooter span:hover,
    .myfooter a:hover i,
    .myfooter button:hover i,
    .myfooter span:hover i {
        color: var(--text-hover);
    }
	.myfooter i {
		font-size: var(--icons-size) !important;
        color: var(--text-color);
	}

    .myfooter .copyright-container {
        /* height: 20%; */
        background-color: var(--copyright-color);
    }

    .myfooter .copyright {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .myfooter .copyright span {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        color: var(--copyright-text);
        font-size: var(--copyright-font-size);
		
    }

    @media (max-width: 992px) {



        .myfooter .page-width {
            padding-right: var(--lateral-compress-mobile) !important;
            padding-left: var(--lateral-compress-mobile) !important;
        }
    }

    @media (max-width: 576px) {
        .myfooter .copyright {
            flex-wrap: wrap;
            justify-content: center !important;
        }

        .myfooter .copyright span {
            text-align: center;
            padding: 5px;
        }
		.myfooter h2{
			white-space: wrap;
		}
    }

    .myfooter h2 {
        font-family: var(--font-heading-family);
        font-size: var(--heading-size);
        font-weight: 500;
        color: var(--heading-color);
		white-space: nowrap;
    }

    @media screen and (max-width: 991px) {
        .myfooter h2 {
            margin-top: 35px;
        }


    }

    .myfooter li {
        padding: 5px 0;
    }
    .myfooter .row>.order-lg-2:not(.flex-column) {
        padding-left: var(--center-padding-column);
        justify-content: center;
    }

    .myfooter .row>.order-4:not(.flex-column) {
        justify-content: flex-end;
    }

    .myfooter .row>.order-lg-1:not(.flex-column) {
        justify-content: flex-start;
    }
	.myfooter .row>.order-lg-2.flex-column {
		padding-left: var(--center-padding-column);
		align-items: center;
	}
	.myfooter .row>.order-lg-3.flex-column {
		align-items: flex-end;
	}
	.myfooter .row>.order-lg-1.flex-column {
		align-items: flex-start;
	}
    @media screen and (max-width: 991px) {
        .myfooter > .row > *:not(.flex-column) {
            padding-left: 0 !important;
            padding-right: 0 !important;
            justify-content: center !important;
        }
		.myfooter > .row > .flex-column{
			padding-left: 0 !important;
			padding-right: 0 !important;
			align-items: center !important;
		}
    }

    .myfooter div.page-width {
        padding-right: var(--lateral-compress);
        /* COMPRIMIR AL CENTRO */
        padding-left: var(--lateral-compress);
        /* COMPRIMIR AL CENTRO */
    }

    @media (min-width: 991px) {
        .myfooter .container-menu-footer li:last-child {
            padding-bottom: 0;
        }
    }

    @media (max-width: 991px) {


        .container-more-information a {
            word-break: break-word;
        }

        .myfooter .container-menu-footer {
            text-align: center;
        }

        .myfooter .container-more-information ul li a,
        .myfooter .container-more-information ul li button,
        .myfooter .container-more-information ul li>span {
            /*grid-gap: 4px;*/
            max-width: 270px !important;
        }

        .myfooter .container-more-information ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

{%- endstyle -%}






<footer class=" section-{{ section.id }} myfooter container-fluid text-white px-0">
<!--cambiar posicios de columnas moviendo order-lg-?-->
<div class="page-width row align-items-start">


  
    {% if section.settings.logo %}
          <div  data-aos="fade-up" class="col-lg-3 
            order-1 container-column-logo 
            {% if section.settings.logo_position == "start" %}
        
    		order-lg-1
    
            {% elsif section.settings.logo_position == "center" %}
    
            order-lg-2
    
             {% elsif section.settings.logo_position == "end" %}
    
             order-lg-3
    
            {% endif; %}
            col-12 
            f-center flex-wrap 
            flex-column ">
              <div class="container-logo-section" >
			
				<div class="row justify-content-center">
					<a href="{{routes.root_url}}" class="my-logo"> </a>
				</div>

				<div class="row mt-4 justify-content-center container-social-icons flex-nowrap">
					{% for block in section.blocks %}
					{% if block.type == "social_links" and block.settings.url != blank and block.settings.icon != blank %}
						<a data-toggle="tooltip" data-placement="bottom" title="{{ block.settings.tooltip-more-item }}" class=" btn-cirlce" href="{{block.settings.url}}" target="_blank">
							<i class=" {{block.settings.icon}}"></i>
						</a>
					{% endif %}
					{% endfor %}
				</div>
				</div>
            
          </div>
    {% endif %}
    
    
    <div data-aos-delay="100" data-aos="fade-up" class="
		col-lg-3
        {% if section.settings.logo_position == "start" %}
        
		order-lg-2

        {% elsif section.settings.logo_position == "center" %}

        order-lg-1

         {% elsif section.settings.logo_position == "end" %}

         order-lg-2

        {% endif; %}

		order-3
		col-12 
		d-flex
		container-more-information">
		<!-- Button trigger modal -->
		<div class="container-menu-footer">
			<h2 class="text-lg-left">Más Información</h2>
			<ul class="list-none">
                {% for block in section.blocks %}
                  {% if block.type == 'more_information' %}
                  <li class="d-flex pt-3 justify-content-center justify-content-lg-start  align-items-center">
                    
                    <a  {% if block.settings.new_tab %} target="_blank" {% endif %} {% if block.settings.url != blank %} 
                      href="{{ block.settings.url }}" {% else %} style="pointer-events:none;" {% endif %}">
                      <i class=" fas fa {{ block.settings.icon }}"></i>
					  {{ block.settings.label }}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
		</div>
	</div>




	{% for block in section.blocks %}
        {% if block.type == 'quick_links' %}

		<div data-aos-delay="150" data-aos="fade-up" class="
			order-2
			 {% if section.settings.logo_position == "start" %}
        
        		order-lg-3
        
                {% elsif section.settings.logo_position == "center" %}
        
                order-lg-3
        
                 {% elsif section.settings.logo_position == "end" %}
        
                 order-lg-2
        
                {% endif; %}

			col-lg-3
			col-12
			container-quick-links
			d-flex
			justify-content-end
			pr-0
		">
			<div class="container-menu-footer">
				<h2>{{block.settings.heading}}</h2>
				<div class="menu-quick-links-container">
					<ul class="quick-links list" id="quick-links">
						{% for link in linklists[block.settings.menu].links %}
							<li class="d-flex  pt-3 justify-content-center justify-content-lg-start  align-items-center">
								<a href="{{link.url}}">{{link.title}}</a>
							</li>
					{% endfor %}
					</ul>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}

  <div data-aos-delay="200" data-aos="fade-up"  class="col-lg-3 order-4 d-flex ">
    <div class="container-menu-footer">
		<h2 class="text-lg-left">Policies</h2>
		<ul class="list" style="padding-left:0;">
			{% for block in section.blocks %}
			  {% if block.type == 'policies' %}
			  <li class="d-flex pt-3 justify-content-center justify-content-lg-start  align-items-center">
				
				<a  {% if block.settings.new_tab %} target="_blank" {% endif %} {% if block.settings.url != blank %} 
				  href="{{ block.settings.url }}" {% else %} style="pointer-events:none;" {% endif %}">
				  {{ block.settings.label }}
				</a>
			  </li>
			{% endif %}
		  {% endfor %}
		  </ul>
	</div>
  
  </div>
</div>


<div class="container-fluid copyright-container px-0 position-relative">
	<div class="row copyright page-width justify-content-between align-items-center">
		<span
			class="col-lg-10 col-12 d-flex justify-content-lg-start justify-content-center text-lg-start text-center ">Copyright
			© 2022 All rights reserved | This Website Was Designed And
			Developed by</span>
		<a class="col-lg-2 col-12 d-flex justify-content-lg-end justify-content-center"
			href="https://josesilvera.com/" target="_blank">
			<img width="95" height="30" class="logoSilvera" alt="author page logo"
				src="{{ "silvera.png" | asset_url }}" loading="lazy"></a>
	</div>
</div>
</footer>

{% schema %}
{
	"name": "Footer",
	"blocks": [
		{
			"type": "policies",
			"name": "Policies",
			"limit": 4,
			"settings": [{
					"type": "url",
					"id": "url",
					"label": "Link"
				},
				{
					"type": "text",
					"id": "label",
					"label": "label"
				},  
				{
				"type": "checkbox",
				"id": "new_tab",
				"label": "Open in new tab",
				"default": true
				}
			]
		},
		{
			"type": "quick_links",
			"name": "Quick Links",
			"limit": 1,
			"settings": [{
					"type": "text",
					"id": "heading",
					"default": "Quick links",
					"label": "Heading"
					
				},
				{
					"type": "link_list",
					"id": "menu",
					"default": "footer",
					"label": "Menu"
				}
			]
		},
		{
			"type": "more_information",
			"name": "More Information",
			"limit": 4,
			"settings": [{
					"type": "url",
					"id": "url",
					"label": "Link"
				},
				{
					"type": "text",
					"id": "label",
					"label": "label"
				},
				{
					"type": "text",
					"id": "icon",
					"label": " Font Awesome Icon"
				},
              
              
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open in new tab",
          "default": true
        }
			]
		},
		{
			"type": "social_links",
			"name": "Social Links",
			"limit": 5,
			"settings": [{
					"type": "text",
					"id": "icon",
					"label": " Font Awesome Icon"
				},
				{
					"type": "url",
					"id": "url",
					"label": "Link"
				},
                {
                "type": "text",
                "id": "tooltip-more-item",
                "label": "Tooltip"
                }
			]
		}
	],
	"settings": [
		
		{
			"type": "image_picker",
			"id": "logo",
			"label": "select your logo"
		},
       {
			"type": "range",
			"id": "brightness-logo",
			"min": 0,
			"max": 20,
			"step": 0.2,
			"default": 1,
			"unit": "bri",
			"label": "brightness logo",
             "info": " default value is 1"
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color_background",
			"id": "background_color",
			"label": "Background Footer",
			"default": "linear-gradient(89.71deg, #383838 23.22%, #575757 92.95%)"
		},
		{
          "type": "select",
          "id": "logo_position",
          "label": "Logo Position",
          "options": [
            {
              "value": "start",
              "label": "Logo Start"
            },
            {
              "value": "center",
              "label": "Logo center"
            },
            {
              "value": "end",
              "label": "Logo End"
            }
          ],
          "default": "start"
        },
		{
			"type": "color",
			"id": "color-heading",
			"label": "Color Heading",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "color-links",
			"label": "Color Links",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "color-links-hover",
			"label": "Color Links Hover",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "background-copyright",
			"label": "Background Copyright",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "text-copyright",
			"label": "text Copyright",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "bullet-point",
			"label": "bullet point color",
			"default": "#FFFFFF"
		},
		{
			"type": "header",
			"content": "Radius"
		},
		{
			"type": "range",
			"id": "radius_border",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Border Radius",
			"default": 64
		},
		{
			"type": "color",
			"id": "back_color_footer",
			"label": "back footer",
			"default": "#FFFFFF"
		},
		{
			"type": "header",
			"content": "Font Size"
		},
		{
			"type": "range",
			"id": "heading-font-size",
			"min": 0,
			"max": 35,
			"step": 1,
			"default": 18,
			"unit": "px",
			"label": "Heading Font Size"
		},
		{
			"type": "range",
			"id": "copyright-font-size",
			"min": 0,
			"max": 25,
			"step": 1,
			"default": 14,
			"unit": "px",
			"label": "Copyright Font Size"
		},
		{
			"type": "range",
			"id": "links-font-size",
			"min": 0,
			"max": 30,
			"step": 1,
			"default": 14,
			"unit": "px",
			"label": "Links Font Size"
		},
		{
			"type": "range",
			"id": "icons-font-size",
			"min": 0,
			"max": 30,
			"step": 1,
			"default": 20,
			"unit": "px",
			"label": "icons font size"
		},
		{
			"type": "header",
			"content": "Spacing"
		},
		{
			"type": "range",
			"id": "margin_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Margin Top",
			"default": 0
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Padding Top",
			"default": 36
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "Padding Bottom",
			"default": 36
		},
		{
			"type": "range",
			"id": "lateral-compress",
			"min": 0,
			"max": 20,
			"step": 1,
			"unit": "%",
			"label": "Compression Lateral",
			"default": 10
		},
        {
			"type": "range",
			"id": "separation-icon",
			"min": 0,
			"max": 40,
			"step": 1,
			"default": 16,
			"unit": "px",
			"label": "Icon Separation"
		},
		{
			"type": "range",
			"id": "padding_center_column",
			"min": 0,
			"max": 20,
			"step": 1,
			"unit": "%",
			"label": "Center Column Padding Left",
			"default": 9
		},
		{
			"type": "header",
			"content": "Logo Size"
		},
		{
			"type": "range",
			"id": "logo_width",
			"min": 50,
			"max": 250,
			"step": 10,
			"default": 100,
			"unit": "px",
			"label": "Logo Width"
		},
		{
			"type": "range",
			"id": "logo_height",
			"min": 50,
			"max": 250,
			"step": 10,
			"default": 100,
			"unit": "px",
			"label": "Logo Height"
		},
		{
			"type": "header",
			"content": "Logo Size Mobile"
		},
		{
			"type": "range",
			"id": "logo_mobile_width",
			"min": 50,
			"max": 250,
			"step": 10,
			"default": 100,
			"unit": "px",
			"label": "Logo mobile Width"
		},
		{
			"type": "range",
			"id": "logo_mobile_height",
			"min": 50,
			"max": 250,
			"step": 10,
			"default": 100,
			"unit": "pz",
			"label": "Logo mobile Height"
		}
	]
}
{% endschema %}