<style>
.single-logo-item img {
  max-width: 180px;
  margin: 0 auto;
}

.logo-carousel-section {
  background-color: #f5f5f5;
  padding: 50px 0;
}

.footer-area {
  background-color: #000;
  color: #fff;
  padding: 80px 0 50px; 
  position:relative;
  overflow:hidden;
}
  
  
.footer-area .logo{
 width: 50%;
}

h2.widget-title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}

h2.widget-title:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #ff0000;
  content: "";
}

.footer-box p {
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}

.footer-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-box ul li {
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.8;
  transition: all .6s;
}
  
.footer-box ul li:hover a{
  color: #ff0000;
  transition: all .6s;
}

  
.footer-box ul li:hover i{
  color: #ff0000;
  transition: all .6s;
} 
  
.footer-box ul li:last-child {
  margin-bottom: 0;
}

.footer-box.subscribe form input[type=email] {
  border: none;
  background-color: #fff;
  width: 78%;
  padding: 15px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #383838;
}

.footer-box.subscribe form button {
  width: 20%;
  border: none;
  background-color: #ff0000;
  color: #fff;
  padding: 14px 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}


.footer-box.subscribe button:focus {
  outline: none;
}

.copyright {
  background-color: #000;
  border-top: 1px solid rgb(255, 255, 255, 0.3);
}

.copyright p {
  margin: 0;
  color: #fff;
  opacity: 0.7;
  padding: 16px 0;
  font-size: 15px;
}

.copyright a {
  color: #ff0000;
  font-weight: 700;
}

.copyright a:hover {
  color: #ff0000;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li {
  display: inline-block;
}

.social-icons ul li a {
  font-size: 16px;
  color: #fff;
  opacity: 0.7;
  padding: 16px 10px;
  display: block;
}
  
.social-icons ul li a:hover i {
  transition: all .6s;
  color: #ff0000;
 
}

.footer-box ul li a {
  color: #fff;
}

.footer-box.pages ul li {
  position: relative;
  padding-left: 20px;
}

.footer-box.pages ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ff0000;
}

  
.text-logo {
  text-align: right;
}
  
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.footer-box {
	    margin-bottom: 40px;
    }
  
    .footer-area {
	   padding: 50px 0px;
       text-align: center
    }
}
  
    
 @media (max-width: 768px) { 

.footer-area {
 padding: 50px 0px;
       text-align: center !important;
}
   
 .footer-box.pages ul li {
    position: relative;
    padding-left: 0px;
    }
.footer-area .logo{
  width: 20%;
}
   
h2.widget-title {
  padding-bottom: 10px;
  color: #ff0000;
}
   
h2.widget-title:after {
 display: none
}
   
.footer-box.pages ul li:before {
  display: none
}

   
.copyright {
  text-align: center;
}
   
.text-logo {
  text-align: center;
}
   
}
  
  
  
.footer-area .form-message--success {
    border: 1px solid #fff;
    background-color: #000;
    color: #1f873d;
    display: block;
    width: 100%;
}
</style>



<footer class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 mb-4 d-flex align-items-center justify-content-center" >
				    <a href="{{ routes.root_url }}"><img src="{{ section.settings.image_logo | img_url: 'master' }}"  class="logo" alt=""></a>
				
                </div>
				<div class="col-lg-3 col-md-6 mb-4">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title">Get in Touch</h2>
						<ul>
							<li><a href="{{ section.settings.link_location }}" target="_blank" class="no"><i class="fa fa-map-marker-alt"></i><span class="text ml-3">{{ section.settings.location }}</span></a></li>
                            <li> <a href="mailto:{{ section.settings.email }}"><i class="fa fa-envelope"></i><span class="text ml-3">{{ section.settings.email }}</span></a></li>
							<li> <a href="tel:{{ section.settings.phone }}"><i class="fa fa-phone"></i><span class="text ml-3">{{ section.settings.phone }}</span></a></li>
						</ul>
					</div>
                    
				</div>
				<div class="col-lg-3 col-md-6 mb-4">
					<div class="footer-box pages">
						<h2 class="widget-title">Pages</h2>
						<ul>
                           {% for link in linklists.footer.links %}
                              <li><a href= "{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="footer-box subscribe">
						<h2 class="widget-title">Subscribe</h2>
						<p>{{ section.settings.text_newsletter}}</p>
                     
                       {%- assign formId = 'ContactFooter' -%}
                              {% form 'customer', id: formId,  class: 'newsletter-form' %}
                                {%- if form.posted_successfully? -%}
                                  <p class="form-message form-message--success" tabindex="-1" data-form-status>
                                    {{ 'general.newsletter_form.confirmation' | t }}
                                  </p>
                                {%- endif -%}
                                  <input type="hidden" name="contact[tags]" value="newsletter">
                                                        
                                   <input  type="email"
                                    name="contact[email]"
                                    id="{{ formId }}-email"
                                    class="input-group__field{% if form.errors %} input--error{% endif %}"
                                    value="{{ form.email }}"
                                    placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
                                    aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
                                    aria-required="true"
                                    autocorrect="off"
                                    autocapitalize="off"
                                    {% if form.errors %}
                                      aria-invalid="true"
                                      aria-describedby="{{ formId }}-email-error"
                                      data-form-status
                                    {% endif %} >
                                <button type="submit" ><i class="fa fa-paper-plane"></i></button>
                            
                           		{%- if form.errors contains 'email' -%}
                                    <span id="{{ formId }}-email-error" class="input-error-message">
                                      <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                                      {% include 'icon-error' %}
                                      <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                                    </span>
                                  {%- endif -%}
                       
                      {% endform %}
                        
						
						
					</div>
                   <div class="social-icons">
						<ul>
							<li><a href="{{ settings.social_facebook_link }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{ settings.social_instagram_link }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="{{ settings.social_twitter_link }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="{{ settings.social_youtube_link }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
                   <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                           All rights reserved <a href="#"> EK's New Life</a> | This Website Was Designed And Developed
                               by <a href="https://josesilvera.com/" target="_blank"> JoseSilvera.com</a>
                        </p>

				</div>
				<div class="col-lg-6 text-logo col-md-12">
				<a href="https://www.josesilvera.com" target="_blank"><img class="silvera-logo my-4" src="https://cdn.shopify.com/s/files/1/0556/0002/1677/files/YRONbOzm_o.png?v=1624479858" width="120" alt="Website Design Agency"></a>

				</div>
			</div>
		</div>
	</footer>
	<!-- end copyright -->


{% schema %}
  {
    "name": "Footer",
    "settings": [
    {
	"type": "image_picker",
     "id": "image_logo",
     "label": "Image Logo"
	 },
    {
	"type": "text",
     "id": "phone",
     "label": "Phone"
	 },
     {
	"type": "text",
     "id": "email",
     "label": "Email"
	 },
     {
	"type": "text",
     "id": "location",
     "label": "Location"
	 },
     {
	"type": "text",
     "id": "link_location",
     "label": "Link Location"
	 },
     {
	"type": "text",
     "id": "text_newsletter",
     "label": "Text  Newsletter Fotter",
     "default":"Subscribe to our mailing list to get the latest updates."
	 }

   ]
  }
{% endschema %}


