<style>
   .section-{{ section.id }}-padding {
   padding-top: calc({{ section.settings.padding_top }}px * 0.75);
   padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
   }
   .section-{{ section.id }} {
   background-color: {{ section.settings.background-color }};
   height:auto;
   }
   @media screen and (min-width: 750px) {
   .section-{{ section.id }}-padding {
   padding-top: {{ section.settings.padding_top }}px;
   padding-bottom: {{ section.settings.padding_bottom }}px;
   }
   }
</style>

<section class=" section-{{ section.id }}-padding section-{{ section.id }}   m-0 faq my-section container-fluid position-relative">
   <div class="page-width container-fluid">
      <div class="title-section pb-element">
         <h1> {{ section.settings.title-section }}</h1>
         <h2>{{ section.settings.subtitle-section }}</h2>
      </div>
   </div>
   <section class="gallery-section">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
      <div class="container-fluid py-section ">
         <div class="row page-width">
            <!-- HORIZOANTAL TAB -->
  
            <ul class="nav nav-tabs" role="tablist">
             
  
                 
              
            </ul>
            <div class="tab-content" >
              
               <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1">...</div>
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="profile-tab">...</div>
                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="contact-tab">...</div>

            </div>






<ul class="nav nav-tabs" id="myTab" role="tablist">

   {%  assign tabs = "" %}
                    {% for block in section.blocks %}
                      {%  if block.type =="Tab" %}
                        {% assign tab = block.settings %}
                        {% assign tabs =  tabs | append: tab.id-tab | append: ',' %} 
      
        
                     <li class="nav-item" role="presentation">
                        <button class="nav-link active" 
                          data-toggle="tab" data-target="#tab{{ tab.id-tab }}" 
                          type="button" role="tab" 
                          aria-controls="tab{{ tab.id-tab }}" aria-selected="true">
        
                          {{ tab.name-tab }}
                        
                        </button>
                     </li>
      
        
                    {% endif %}
                  {% endfor %}


</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">.1.</div>
  <div class="tab-pane fade " id="tab2" role="tabpanel" aria-labelledby="tab1-tab">2.</div>

</div>



  
            <style>
               .gallery-section .photo {
                 padding: 0;
               }
               .gallery-section .photo>a {
                 height: 300px;
                 padding: 10px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
               }
               .gallery-section .photo a img,
               .gallery-section .photo a video {
                 height: 283px;
                 width: 100%;
                 object-fit: cover;
                 margin-bottom: 15px;
                 border-radius: var(--radius);
                 box-shadow: var(--shadow);
               }
            </style>
            <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
         </div>
      </div>
   </section>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": [
  	{
          "type": "text",
          "id": "title-section",
          "label": "Title Section",
          "default": "Gallery"
      },
      {
          "type": "text",
          "id": "subtitle-section",
          "label": "Title Section",
          "default": "Check out our delicious work"
      },
     
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "padding bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type":"photo",
        "name": "Photo",
        "settings":
        [
          {
          "type": "number",
          "id": "id-tab",
          "label": "Tab ID",
          "default": 1
        },
           {
            "type": "image_picker",
             "label": "Select a Image",
             "id": "image"
          },
           {
            "type": "header",
            "content": "Bootstrap Grid",
            "info": "The section is divided into a grid of 12 columns, set the size in number of columns that the card of this collection will cover"
          },
           {
            "type": "range",
            "id": "col-lg",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Desktop",
            "default": 4
          },
          
          {
            "type": "range",
            "id": "col-md",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Tablet",
            "default": 6
          },
          {
            "type": "range",
            "id": "col-sm",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Phone",
            "default": 12
          }
        ]
      },
      {
        "type":"video",
        "name": "Video",
        "settings":
        
        [
           {
            "type": "url",
             "label": "Select a Video",
             "id": "url-video"
          },
          {
          "type": "number",
          "id": "id-tab",
          "label": "Tab ID",
          "default": 1
        },
           {
            "type": "header",
            "content": "Bootstrap Grid",
            "info": "The section is divided into a grid of 12 columns, set the size in number of columns that the card of this collection will cover"
          },
           {
            "type": "range",
            "id": "col-lg",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Desktop",
            "default": 4
          },
           {
              "type": "range",
              "id": "col-md",
              "min": 1,
              "max": 12,
              "step": 1,
              "unit": "col",
              "label": "Columns in Tablet",
              "default": 6
            },
           {
              "type": "range",
              "id": "col-sm",
              "min": 1,
              "max": 12,
              "step": 1,
              "unit": "col",
              "label": "Columns in Phone",
              "default": 12
            }
        ]
      },
        {
        "type":"Tab",
        "name": "New Tab",
        "settings":
        [
           {
              "type": "text",
              "id": "name-tab",
              "label": "Name Tab",
              "default": "Gallery 1"
            },
           {
          "type": "number",
          "id": "id-tab",
          "label": "Tab ID",
          "default": 1
      }

        ]
      
      }
    ]
  }
{% endschema %}
