<style>
   .section-{{ section.id }}-padding {
   padding-top: calc({{ section.settings.padding_top }}px * 0.75);
   padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
   }
   .section-{{ section.id }} {
   background-color: {{ section.settings.background-color }};
   height:auto;
   }
   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
     }
   }
   .nav-tabs{
     border-bottom: none;
   }
  .nav-tabs li .nav-link.active{
color: var(--primary-dark);
    background-color: #ffe0e0;
    border-color: #f7cccc #f7cccc #f7cccc;
  
    z-index: 5;
    position: relative;
   transform: scale(1.05) translateY(-2.5%);

  }
    .nav-tabs li .nav-link{
      background: #ffecec;
      border-radius: var(--radius) var(--radius) 0 0;
      color: var(--primary-dark);
      font-weight: 300;
      transition: all .3s ease;
    }
  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: #f7cdde #f7cdde #f7cdde;
  }
   .nav-tabs li{
     
   }
  
</style>

<section class=" section-{{ section.id }}-padding section-{{ section.id }}   m-0  my-section container-fluid position-relative">
   <div class="page-width container-fluid">
      <div class="title-section pb-element tablet-compress align-items-center">
         <h1> {{ section.settings.title-section }}</h1>
         <h2>{{ section.settings.subtitle-section }}</h2>
      </div>
   </div>
   <section class="gallery-section">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
      <div class="container-fluid py-section tablet-compress">
         <div class="row page-width">

              <ul class="nav nav-tabs col-12 px-0 mx-0 pb-section d-flex justify-content-center" id="myTab" role="tablist">
              
              
                                 {%  assign tabs = "" %}
                                  {% for block in section.blocks %}
                                    {%  if block.type =="Tab" %}
                                      {% assign tab = block.settings %}
                                      {% assign tabs =  tabs | append: tab.id-tab | append: ',' %} 
                    
                      
                                   <li class="nav-item" role="presentation">
                                      <button class="nav-link {% if forloop.index == 1 %} active {% endif %}" 
                                        data-toggle="tab" data-target="#tab{{ tab.id-tab }}" 
                                        type="button" role="tab" 
                                        aria-controls="tab{{ tab.id-tab }}"
                                        aria-selected="true">
                      
                                        {{ tab.name-tab }}
                                      
                                      </button>
                                   </li>
                    
                      
                                  {% endif %}
                                {% endfor %}
              
              
              
              </ul>
<div class="tab-content col-12 px-0 mx-0" id="myTabContent">
  {% assign tabs = tabs | split: ',' %}
    {% for id in tabs   %}
      
       <div class="tab-pane fade show {% if forloop.index == 1 %} active {%  endif %}" id="tab{{ id }}" role="tabpanel" aria-labelledby="tab{{ id }}-tab">
             <div class="row">
            {% for block in section.blocks %} 
               {%  case block.type %}
                 {% when "photo" %}
                        {% assign idstring = id | plus: 0  %}
                        {% if block.settings.id-tab == idstring %}
                       
                         {%  render "grid-photo" caption:block.settings.caption, image: block.settings.image, col-lg: block.settings.col-lg , col-md: block.settings.col-md , col-sm:block.settings.col-sm  %}
                      {% endif %}
                  {% when "video" %}
                      {% assign idstring = id | plus: 0  %}
                      {% if block.settings.id-tab == idstring %}
                           {% render "grid-video" caption:block.settings.caption url-video: block.settings.url-video col-lg: block.settings.col-lg , col-md: block.settings.col-md , col-sm:block.settings.col-sm  %}
                      {% endif %}
                 {% endcase %}
             {% endfor %}
             </div>
       </div>
    {%  endfor %}

</div>
<style>
               .gallery-section .photo {
                 padding: 0;
               }
               .gallery-section .photo>a {
                 height: 300px;
                 padding: 10px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
               }
               .gallery-section .photo a img,
               .gallery-section .photo a video {
                 height: 283px;
                 width: 100%;
                 object-fit: cover;
                 border-radius: var(--radius);
                 box-shadow: var(--shadow);
               }
            </style>
            <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
         </div>
      </div>
   </section>
</section>
{% schema %}
  {
    "name": "Tabs",
    "settings": [
  	{
          "type": "text",
          "id": "title-section",
          "label": "Title Section",
          "default": "Gallery"
      },
      {
          "type": "text",
          "id": "subtitle-section",
          "label": "Title Section",
          "default": "Check out our delicious work"
      },
     
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "padding bottom",
        "default": 52
      }
    ],
    "blocks": [
      {
        "type":"photo",
        "name": "Photo",
        "settings":
        [
          
          {
          "type": "number",
          "id": "id-tab",
          "label": "Tab ID",
          "default": 1
        },
           {
            "type": "image_picker",
             "label": "Select a Image",
             "id": "image"
          },
          {
          "type": "text",
          "id": "caption",
          "label": "Caption"
      },
           {
            "type": "header",
            "content": "Bootstrap Grid",
            "info": "The section is divided into a grid of 12 columns, set the size in number of columns that the card of this collection will cover"
          },
           {
            "type": "range",
            "id": "col-lg",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Desktop",
            "default": 4
          },
          
          {
            "type": "range",
            "id": "col-md",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Tablet",
            "default": 6
          },
          {
            "type": "range",
            "id": "col-sm",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Phone",
            "default": 12
          }
        ]
      },
      {
        "type":"video",
        "name": "Video",
        "settings":
        
        [
           {
            "type": "url",
             "label": "Select a Video",
             "id": "url-video"
          },
          {
          "type": "text",
          "id": "caption",
          "label": "Caption"
      },
          {
          "type": "number",
          "id": "id-tab",
          "label": "Tab ID",
          "default": 1
        },
           {
            "type": "header",
            "content": "Bootstrap Grid",
            "info": "The section is divided into a grid of 12 columns, set the size in number of columns that the card of this collection will cover"
          },
           {
            "type": "range",
            "id": "col-lg",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Desktop",
            "default": 4
          },
           {
              "type": "range",
              "id": "col-md",
              "min": 1,
              "max": 12,
              "step": 1,
              "unit": "col",
              "label": "Columns in Tablet",
              "default": 6
            },
           {
              "type": "range",
              "id": "col-sm",
              "min": 1,
              "max": 12,
              "step": 1,
              "unit": "col",
              "label": "Columns in Phone",
              "default": 12
            }
        ]
      },
        {
        "type":"Tab",
        "name": "New Tab",
        "settings":
        [
           {
              "type": "text",
              "id": "name-tab",
              "label": "Name Tab",
              "default": "Gallery 1"
            },
           {
          "type": "number",
          "id": "id-tab",
          "label": "Tab ID",
          "default": 1
      }

        ]
      
      }
    ]
  }
{% endschema %}
