<style>
  .section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
.section-{{ section.id }} {
  background-color: {{ section.settings.background-color }};
  height:auto;
}
@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
 <section class=" section-{{ section.id }}-padding section-{{ section.id }}   m-0 faq my-section container-fluid position-relative">
    <div class="page-width container-fluid">

      <div class="title-section pb-element">
          
          <h1> {{ section.settings.title-section }}</h1>
          <h2>{{ section.settings.subtitle-section }}</h2>                      
         </div>
    </div>

   <section class="gallery-section">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css">
    <div class="container-fluid py-section ">
        <div class="row page-width">
            <div class="col-12">
                <h1 class="title-primary d-flex justify-content-center w-100">Gallery</h1>
                <h2 class=" pb-element title-secondary d-flex justify-content-center w-100">
                    See our work                </h2>
            </div>

            <!-- HORIZOANTAL TAB -->
            <div class="col-12 px-0 mx-0">
                <ul class="nav horizontal-tab pb-section tablet-compress nav-pills nav-fill d-flex justify-content-center">

                                        
                    <li class=" text-left ">
                        <a href="#category-1" class="active nav-link px-3 justify-content-start show" data-bs-toggle="tab">


                            <span class=" container-img" style="width:50px;height:50px;">
                                Concrete                            </span>

                        </a>
                    </li>

                    
                    <li class=" text-left ">
                        <a href="#category-2" class=" nav-link px-3 justify-content-start show" data-bs-toggle="tab">


                            <span class=" container-img" style="width:50px;height:50px;">
                                Hardscaping                            </span>

                        </a>
                    </li>

                                                        </ul>
            </div>
            <!--END  HORIZOANTAL TAB -->


            <!-- HORIZONTAL CONTENT -->
            <div class="col-12 px-0 mx-0">
                <div class="tab-content d-flex justify-content-center px-0">


                                        

                    <div id="category-1" class=" active tab-pane fade p-0 show w-100">


                        <div class="container-fluid px-0 mx-0">
                            <div class="row">

                                <div class="col-sm-12 col-md-3 col-lg-3 pb-element col-vertical-tab">
                                    <ul class="vertical-tab nav nav-pills nav-fill d-lg-flex d-block flex-column">
                                                                                                                        <li class=" text-left ">
                                            <a href="#service-1-1" class="active nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/rastrear.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Driveway                                                </span>
                                            </a>
                                        </li>
                                                                                <li class=" text-left ">
                                            <a href="#service-1-2" class=" nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/suelo.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Stamped Concrete                                                </span>
                                            </a>
                                        </li>
                                                                                <li class=" text-left ">
                                            <a href="#service-1-3" class=" nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/hormigon.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Patio                                                </span>
                                            </a>
                                        </li>
                                                                                <li class=" text-left ">
                                            <a href="#service-1-4" class=" nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/la-carretera.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Sidewalks                                                </span>
                                            </a>
                                        </li>
                                                                                <li class=" text-left ">
                                            <a href="#service-1-5" class=" nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/piso.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Slabs                                                </span>
                                            </a>
                                        </li>
                                                                                                                    </ul>
                                </div>


                                <div class="col-sm-12 col-md-9 col-lg-9">
                                    <div class=" d-flex justify-content-center px-0">

                                        <div class="container-fluid px-0 mx-0 ">
                                            <div class="row   tab-content">
                                                                                                
                                                <div id="service-1-1" class="active service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Driveway-1-NM-rotated.jpg" class="position-relative" data-fancybox="gallery" data-caption="Driveway">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Driveway-1-NM-rotated.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/281021589_105304622194739_7765981095066306055_n-1.jpg" class="position-relative" data-fancybox="gallery" data-caption="Driveway">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/281021589_105304622194739_7765981095066306055_n-1.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Driveway-NM-rotated.jpg" class="position-relative" data-fancybox="gallery" data-caption="Driveway">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Driveway-NM-rotated.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                
                                                <div id="service-1-2" class=" service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/283482079_105303372194864_1003520437417511936_n.jpg" class="position-relative" data-fancybox="gallery" data-caption="Stamped Concrete">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/283482079_105303372194864_1003520437417511936_n.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/285702930_114087364649798_7575293730472995600_n.jpg" class="position-relative" data-fancybox="gallery" data-caption="Stamped Concrete">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/285702930_114087364649798_7575293730472995600_n.jpg" alt="Concrete stamped floor">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/gallery-2.jpeg" class="position-relative" data-fancybox="gallery" data-caption="Stamped Concrete">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/gallery-2.jpeg" alt="Concrete stamped floor">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                
                                                <div id="service-1-3" class=" service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/281104367_105304532194748_618306619658529112_n.jpg" class="position-relative" data-fancybox="gallery" data-caption="Patio">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/281104367_105304532194748_618306619658529112_n-768x1024.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Patio-NM.jpg" class="position-relative" data-fancybox="gallery" data-caption="Patio">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Patio-NM-768x1024.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                
                                                <div id="service-1-4" class=" service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Sidewalk-NM-rotated.jpg" class="position-relative" data-fancybox="gallery" data-caption="sidewalks">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Sidewalk-NM-rotated.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Sidewalk-NM-1-rotated.jpg" class="position-relative" data-fancybox="gallery" data-caption="">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Sidewalk-NM-1-rotated.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                
                                                <div id="service-1-5" class=" service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/House-Slad-NM-rotated.jpg" class="position-relative" data-fancybox="gallery" data-caption="Slab">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/House-Slad-NM-rotated.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                                                                                                            </div>
                                        </div>
                                    </div>


                                </div>













                            </div>
                        </div>
                    </div>




                    

                    <div id="category-2" class="  tab-pane fade p-0 show w-100">


                        <div class="container-fluid px-0 mx-0">
                            <div class="row">

                                <div class="col-sm-12 col-md-3 col-lg-3 pb-element col-vertical-tab">
                                    <ul class="vertical-tab nav nav-pills nav-fill d-lg-flex d-block flex-column">
                                                                                                                        <li class=" text-left ">
                                            <a href="#service-2-1" class="active nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/piso-1.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Pavers                                                </span>
                                            </a>
                                        </li>
                                                                                <li class=" text-left ">
                                            <a href="#service-2-2" class=" nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/muro-defensivo.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Retaining Walls                                                </span>
                                            </a>
                                        </li>
                                                                                <li class=" text-left ">
                                            <a href="#service-2-3" class=" nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/flame.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Fire Pits                                                </span>
                                            </a>
                                        </li>
                                                                                <li class=" text-left ">
                                            <a href="#service-2-4" class=" nav-link px-3 justify-content-start show" data-bs-toggle="tab">
                                                <span class="icon-svg">
                                                    <img style="width:25px;height:25px;margin-right:5px;" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/alone.png" alt="">
                                                </span>
                                                <span class=" container-img" style="width:50px;height:50px;">
                                                    Sitting Walls                                                </span>
                                            </a>
                                        </li>
                                                                                                                    </ul>
                                </div>


                                <div class="col-sm-12 col-md-9 col-lg-9">
                                    <div class=" d-flex justify-content-center px-0">

                                        <div class="container-fluid px-0 mx-0 ">
                                            <div class="row   tab-content">
                                                                                                
                                                <div id="service-2-1" class="active service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Pavers-NM-rotated.jpg" class="position-relative" data-fancybox="gallery" data-caption="Pavers">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Pavers-NM-rotated.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                
                                                <div id="service-2-2" class=" service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/wrerererererererererererereristockphoto-469909496-612x612-1.jpg" class="position-relative" data-fancybox="gallery" data-caption="Retaining Walls">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/wrerererererererererererereristockphoto-469909496-612x612-1.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                
                                                <div id="service-2-3" class=" service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Fire-Pit.jpg" class="position-relative" data-fancybox="gallery" data-caption="Fire Pits">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Fire-Pit-768x1024.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Fire-Pit-NM-rotated.jpg" class="position-relative" data-fancybox="gallery" data-caption="Fire Pits">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Fire-Pit-NM-rotated.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/55-1.jpg" class="position-relative" data-fancybox="gallery" data-caption="Fire Pits">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/07/55-1.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                
                                                <div id="service-2-4" class=" service-pane mx-0 tab-pane fade show container-fluid p-0 show">

                                                                                                                                                                                                                                                                                                                                                                                                                                <div class="col-12 col-md-6 col-lg-4  photo">
                                                        <a href="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Sitting-wall-NM-rotated.jpg" class="position-relative" data-fancybox="gallery" data-caption="Sitting Walls">
                                                                                                                        <img loading="lazy" src="http://websitetest1.guiwebprogramming.com/wp-content/uploads/2022/08/Sitting-wall-NM-rotated.jpg" alt="">
                                                                                                                    </a>
                                                    </div>
                                                                                                                                                                                                                                                                                                                        
                                                </div>
                                                                                                                                            </div>
                                        </div>
                                    </div>


                                </div>













                            </div>
                        </div>
                    </div>




                                                        </div>
            </div>
            <!---END HORIZONTAL CONTENT -->


            <style>
            .gallery-section {
                background-color: #f3f3f3;
            }

            .gallery-section .photo {
                padding: 0;
            }

            .gallery-section .photo>a {
                height: 300px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .gallery-section .photo a img,
            .gallery-section .photo a video {
                height: 283px;
                width: 100%;
                object-fit: cover;
                margin-bottom: 15px;
                border-radius: 25px;
                box-shadow: -3px -2px 8px 1px #cfcfcf;
            }
            </style>

            <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

</div></div></section>
 </section>

{% schema %}
  {
    "name": "Section name",
    "settings": [
	{
        "type": "text",
        "id": "title-section",
        "label": "Title Section",
        "default": "Gallery"
    },
    {
        "type": "text",
        "id": "subtitle-section",
        "label": "Title Section",
        "default": "Check out our delicious work"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding bottom",
      "default": 52
    }
    ]
  }
{% endschema %}
