
{% assign heroImageLocal = section.settings.image-bg-1 %}
{% assign heroImageGlobal = settings.subpage_hero_background  %}
{% assign heroVideoGlobal = settings.subpage_hero_background_video %}

{% assign video = false  %}
{% assign hero = "" %}

{%  if heroImageLocal == blank %}

{% if heroVideoGlobal == blank %}
  

{% assign hero = heroImageGlobal %}
 

  
{% else %}
  
    {% assign hero = heroVideoGlobal %}
    {% assign video = true %}

  
{% endif %}
{% else  %}
  {% assign hero = heroImageLocal %}
 {% endif %}

 <section class="site-hero inner-page overlay section-{{ section.id }}" >
      
   
   
     {% if video %}
      <video autoplay="" muted="" loop="" playsinline>
	    	 <source src="{{ hero }}" type="video/mp4">
	  </video>
  <style>
    .section-{{ section.id }} video{
      object-fit:cover;
      object-position:center;
      width:100%;
      height:100%;
      position:absolute;
      top:0;
      left:0;
      z-index:-1;
    }
  </style>
  {% else %}

  <style>
    .section-{{ section.id }}{
      background-image: url({{ hero | img_url: 'master' }});
      background-size: cover;
      background-position:center;
      background-repeat: no-repeat;
    }
  </style>

  {% endif %} 
   
   
   
   
   <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-10 text-center" data-aos="fade">
            <h1 class="heading mb-3">{{ page.title }}</h1>
            <ul class="custom-breadcrumbs mb-4">
              <li><a href="{{ routes.root_url }}">{{ settings.home-name }}</a></li>
              <li>&bullet;</li>
              <li>{{ page.title }}</li>
            </ul>
          </div>
        </div>
      </div>
</section>

{% schema %}
  {
    "name": "Hero Services",
    "settings": [
     {
	"type": "image_picker",
     "id": "image-bg-1",
     "label": "Image Background"
	 }

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
