{%- style -%}
.section-{{ section.id }}-padding {
  padding-top: calc({{ section.settings.padding_top }}px * 0.75);
  padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
}
.section-{{ section.id }} {
  height:auto;
}


@media screen and (min-width: 750px) {
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
}
.insta-feed-form{
	padding:  {{ section.settings.padding_y }}px 30px  {{ section.settings.padding_y }}px 30px;
}
.insta-feed-form .btn-secondary{
	border-radius: 0px;
    padding: 5px 30px;
    max-width: 180px;
    margin-top: 19px;	
    font-size: 2rem;
	height: 45px;
}
.insta-feed-form button{
	font-weight: 900;
}
.insta-feed-form #email{
	width: 50%;
	max-width:400px;
	min-width:250px;	
	height: 50px;	
}
.insta-feed-form #email::placeholder{
	font-weight: 400;
}
.section-{{ section.id }}{
{% if section.settings.image_background  %}
	background-image: url("{{ section.settings.image_background |img_url : "master" }}");
{% endif %}
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	position: relative;
	z-index: 0;
}
.section-{{ section.id }}::after{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background: {{ section.settings.background-color }};
	content: ""; 
	z-index: -1;
}
.insta-feed .subtitle h2{
	font-weight: 700;
    color: var(--gray-color);
}
.insta-feed .section-title h1{
	background: {{section.settings.background-title}};
}
{%- endstyle -%}

  <section class=" insta-feed container-fluid 
    flex-wrap  section-{{ section.id }}-padding section-{{ section.id }}">
   


    
  </section>

{% schema %}
{
  "name": "Custom insta-feed",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Custom Colors"
    },
    {
        "id": "background-color",
        "type": "color_background",
        "label": "Background Color"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "padding_bottom",
      "default": 52
    },
	{
		"type": "text",
		"id": "title-section",
		"label": "Title",
		"default": "Instagram Feed"
	},
	{
		"type": "text",
		"id": "subtitle",
		"label": "Subtitle",
		"default": "Follow us now and don't miss our best works"
	}
  ],
  "presets": [
    {
      "name": "Custom insta-feed"
    }
  ]
}
{% endschema %}
