
<style>


{% for block in section.blocks %}
  {% if block.type == "image-transparency" %}
      .section-{{ section.id }}-img-transparency{
          position:relative;
      }
    .section-{{ section.id }}-img-transparency::before{
		content: "";
        width: {{block.settings.width}}px;
    	height: {{block.settings.height}}px;
        background-image:url("{{block.settings.image | img_url : "master" }}");
        position:absolute;

        top: {{block.settings.top}}%;
        left: {{block.settings.left}}%;
        z-index: 0;
        opacity: 0.1;
        background-size: cover;
	  }

	 {% if block.settings.hidden_mobile %}
	  @media screen and (max-width: 767px) {
		.section-{{ section.id }}-img-transparency::before{
			display:none;
		}
	  }
	{% endif %}
    

  {% endif %}
{% endfor %}

   
.reviews{
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: left;
 justify-content: center;
 text-align: bottom;
 max-height: auto;
 width: 100%;
 overflow: hidden;
 z-index: 3;
 
  padding: 50px 0px;
 }

.reviews::after{
{% if section.settings.overlay != blank %}
 content: '';
{%  endif %}
 background: {{section.settings.overlay}}; /*OVERLAY*/
 position: absolute;
 height: 100%;
 width: 100%;
 z-index: 1;
} 
  
  .reviews .container * {
  z-index:2;
  }

.reviews .image-container{
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;  
}

.reviews .image-container img {
  min-height: 100%;
  width: {{section.settings.width_image}};
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: {{section.settings.left_image}};
  right: {{section.settings.right_image}};
  transform: translateY(-50%);
  z-index: 20;
}
{% if section.settings.hidden_mobile_background %}
@media screen and (max-width: 767px) {
  .reviews .image-container img {
    display: none;
  }
}
{% endif %}

.testimony-wrap {
     display: flex;
    position: relative;
    background: white;
    padding: 0 30px;
    box-shadow: var(--shadow);
    align-items:center;
    justify-content:center;
    z-index: 3;
    margin-bottom: 20px;
    height: 345px;


}
.testimony-wrap *:not(.imgs){
  z-index: 2;
}
 .testimony-wrap, .testimony-wrap video{
 border-radius: var(--radius);
 
 } 
 .reviews .owl-item{
 padding:18px;
 } 
.testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 5px; 

}
  .testimony-wrap .name {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
    color: var(--primary);
    font-family:"fuente-titulos" !important;
  
  }
  .testimony-wrap .position {
    font-size: 16px;
    color: var(--tertiary); 
     font-family:"fuente-cotenido" !important;
  }
  
  .testimony-wrap .text .star {
    color: #fc9927; 
  }
  
@media (max-width: 768px) {
  .testimony-wrap { 
  padding: 0 10px;
  margin-bottom: 20px;
  

}
  .reviews .owl-item{
     padding:  13px !important;
  }
}
.custom-shape-divider-bottom-1660914663 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1660914663 svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: 271px;
}

.custom-shape-divider-bottom-1660914663 .shape-fill {
    fill: #FFFFFF;
}

</style>


<section class="overflow-hidden reviews position-relative section-{{ section.id }}-img-transparency position-relative">
 {%  if section.settings.image-fondo != blank  %}
  <div class="image-container imgs">
    
	  <img class="img-fluid imgs" src="{{ section.settings.image-fondo | img_url: 'master' }}"/>
   </div>
   {% endif %}
  <div class="container">
    <div class="title-section col-12 pb-element">
         <h1> {{ section.settings.title }}</h1>
         <h2 > {{ section.settings.subtitle }}</h2>              
    </div>
    <div class="row">
      <div class="col-md-8 px-0">
        <div class="owl-carousel owl-review">
           {% for block in section.blocks %}  
            {%  if block.type == "text" %}
           <div class="item radius ">
               <div class="testimony-wrap py-4 mb-5">
                  <div class="text">
                     <p class="star">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                     </p>
                     <p style="max-height: 25ex;" class="scrollbar-0  mb-4">{{  block.settings.block_text}}</p>
                     <div class="d-flex align-items-center">
                        <div class="user-img " {%  if block.settings.image-customer !=blank  %}style="background-image: url({{ block.settings.image-customer | img_url: 'master' }}); background-size: cover;" {%  endif %} %}>
                           {%  if block.settings.image-customer ==blank  %} <i class="fa fa-user d-flex justify-content-center align-items-center" 
                             style="width: 100%;
                                                  height: 100%;
                                                  border-radius: 50%;
                                                  background: #f3f3f3;
                                                  font-size: 31px;
                               color: var(--primary);
                             "></i> {% endif %}
                          </div>
                        <div class="pl-3">
                           <p  class="name">{{block.settings.text}}</p>
                           <span class="position">Customer</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
              {% elsif block.type == "Video" %}
                <div class="item position-relative">
                    <div class="testimony-wrap p-0 mb-5  position-relative">
   
                         <div class="container-video radius d-flex align-items-center justify-content-center" style="width:100%;height:100%;">
                            <video style="object-fit:cover; width:100%;height:100%;" playsinline src="{{ block.settings.link_video }}" ></video>
                            <i class="playBtn fa-solid fa-play text-primary-light"></i>
                        </div>
              
                   </div>
                  <div class="custom-shape-divider-bottom-1660914663">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                    </svg>
                </div>
                </div>

              {% endif %}
            {% endfor %}
        </div>
      </div>
      <div class="col-md-8 text-center">
         <a href="{{ section.settings.button_link }}" class="btn" data-aos="fade-up" target="_blank" >
          {{ section.settings.button_label }} 
        </a> 

      </div>
    </div>
  </div>
</section>






{% schema %}
  {
    "name": "Reviews",
    "settings": [
      {
			"type": "image_picker",
			"id": "image-fondo",            
            "label": "Image Background"
	  },
    {
      "type": "checkbox",
      "id": "hidden_mobile_background",
      "label": "Hidden in Mobile",
      "default": true
    },
    {
      "type": "text",
          "id": "left_image",
          "label": "left image",
          "default": "0"
       },
       {
        "type": "text",
            "id": "right_image",
            "label": "right image",
            "default": "auto"
         },
         {
          "type": "text",
              "id": "width_image",
              "label": "width image",
              "default": "100%"
           },
      {
		  "type": "text",
        "id": "title",
		"label": "Title Section",
        "default": "Reviews"
        
     },
     {
		"type": "text",
        "id": "subtitle",
		"label": "SubTitle Section",
        "default": "What do our customers say"
      },
      {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
	  "default": "Google"
      },
      {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
      },     
       {
      "type": "color_background",
      "id": "overlay",
      "label": "Overlay"
      }

    ],
     "blocks": [
       {
			"type": "image-transparency",
			"limit": 1,
			"name": "Image with transparency",
			"settings": [
				{
				"type" : "image_picker",
				"id": "image",
				"label": "Select a image"
				},
				{
                  "type": "range",
                  "id": "top",
                  "min": -50,
                  "max": 100,
                  "step": 2,
                  "unit": "%",
                  "label": "Top Position",
                  "default": 40
                },
				{
                  "type": "range",
                  "id": "left",
                   "min": -50,
                  "max": 100,
                  "step": 1.5,
                  "unit": "%",
                  "label": "Left Position",
                  "default": 40
                },
				{
                  "type": "range",
                  "id": "width",
                  "min": 10,
                  "max": 1000,
                  "step": 10,
                  "unit": "px",
                  "label": "Width",
                  "default": 100
                },
              
				{
                  "type": "range",
                  "id": "height",
                   "min": 10,
                  "max": 1000,
                  "step": 10,
                  "unit": "px",
                  "label": "Height",
                  "default": 100
                },
              {
                  "type": "color_background",
                  "id": "overlay_before",
                  "label": "overlay",
                  "default": "radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 100%)"
                },
				{
					"type": "checkbox",
					"id": "hidden_mobile",
					"label": "Hidden in Mobile",
					"default": true
				}
			]
		},
         {
       "type": "text",
        "name": "Review", 
        "settings": [     
                {
                    "type": "text",
                    "id": "text",
                    "label": "Name Customer",
                  "default": "Review"
                  },    
                  {
                    "type": "image_picker",
                  "id": "image-customer",            
                      "label": "Image Customer"
                },
                  {
                    "type": "textarea",
                    "id": "block_text",
                    "label": "Content Review"
                  }     
                ]
          },
          {
          "type": "Video",
          "name": "Video",
          "settings": [
            {
              "type": "text",
              "id": "name_costumer",
              "label": "Title",
              "default": "Jhon Doe"
            },
            {
              "type": "url",
              "id": "link_video",
              "label": "Link Video" 
            }
          ]
          }
     ],
   
  	"presets": [
      {
        "category": "Home",
        "name": "Review"     
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
