{% section 'hero-gallery' %}
<div class="container">
    <div class="row">
        {%- for collection in collections limit: 1 -%}
        {% for product in collection.products limit: 2%}
        <div class="col-lg-4 col-md-6 col-sm-12 product-grid">
            <!-- Product-grid-->
            <div class="form-{{ forloop.index }} d-none form-product-inner">
                {% render "form-product" product:product %}
            </div>
            {% comment %}
            Renders a product card using "Grid" style
            Accepts:
            - max_height: {Number} Maximum height of the product's image (required)
            - product: {Object} Product Liquid object (required)
            - show_vendor: {Boolean} Show the product's vendor depending on the section setting (optional)
            Usage:
            {% include 'product-card-grid', max_height: max_height, product: product, show_vendor:
            section.settings.show_vendor %}
            {% endcomment %}
            <section class="product-grid">
                <div
                    class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
                    {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
                    {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}
                    {%- assign preview_image = product.featured_media.preview_image -%}
                    {%- assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {% unless preview_image == blank %}
                    {% include 'image-style', image: preview_image, height: max_height, wrapper_id: wrapper_id, img_id:
                    img_id %}
                    {% endunless %}
                    <div class="class-item position-relative">
                        <a href="{{ product.url}}">
                            {% if product.compare_at_price > product.price and product.available %}
                            <div class="tag-price-comparation">
                                <span class="price-1">{{product.compare_at_price | money }}</span>
                                <span class="price-2">{{product.price | money}}</span>
                            </div>
                            {% else %}
                            <div class="tag-price">
                                {{product.price | money}}
                            </div>
                            {% endif %}
                            <div class="ci-pic" style="height: 85%;">
                                <img style="height: 100%;" class="img-1 card-img-top" draggable="false" srcset="
                     {%- if product.featured_media.width >= 165 -%}
                     {{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                     {%- if product.featured_media.width >= 360 -%}
                     {{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                     {%- if product.featured_media.width >= 533 -%}
                     {{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                     {%- if product.featured_media.width >= 720 -%}
                     {{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                     {%- if product.featured_media.width >= 940 -%}
                     {{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                     {%- if product.featured_media.width >= 1066 -%}
                     {{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                     {{ product.featured_media | image_url }}
                     {{ product.featured_media.width }}w" src="{{ product.featured_media | image_url: width: 533 }}"
                                    sizes="(min-width: {{ settings.page_width }}px) 
                     {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                    alt="{{product.title}}" class="motion-reduce" {% unless lazy_load==false
                                    %}loading="lazy" {% endunless %} width="{{ product.featured_media.width }}"
                                    height="{{ product.featured_media.height }}">
                            </div>
                            <div class="new-ci-text ">
                                <div class="custom-shape-divider-bottom-1660074041">
                                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                                        preserveAspectRatio="none">
                                        <path
                                            d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                                            class="shape-fill"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="description-category position-absolute">
                                <h5 class="text-primary m-0">{{ product.title }}</h5>
                                <a onclick="openModalDetails({{ forloop.index }})" class="btn btn-circle"
                                    data-toggle="modal" href="#modal-details"><i class="fa fa-shopping-cart"></i></a>
                            </div>
                        </a>
                    </div>
            </section>
            <!--END Product-grid-->
        </div>
        {% endfor %}
        {%- endfor -%}
    </div>
</div>
<script>
    function openModalDetails(idform) {
        var modal = document.getElementById("modal-details");
        let form = document.querySelector(".form-" + idform);
        let replaceValue = modal.querySelector(".modal-body .form-product-inner");
        let newForm = form.cloneNode(true);
        if (form) {
            //repalce form
            replaceValue.replaceWith(newForm);

        } else {
            body_modal.appendChild(form);
        }
        form.classList.remove("d-none");
    }
</script>
<style>
    .qview-button.qview-button--bottom_right,
    .qview-button.qview-button--mobile-bottom_right {
        display: none !important;
    }

    .filters-toolbar-wrapper {
        border: none;
    }

    .collection-header {
        background: var(--primary-light);
    }

    .collection-header * {
        font-family: var(--font-body-family) !important;
        color: var(--primary-dark);
        text-transform: capitalize;
        font-size: 15px;
        outline: none !important;
        border: none !important;
        letter-spacing: 0.2px;
        font-style: normal;
    }

    .collection-header option {
        background: var(--primary-light);
    }

    .filters-toolbar .icon-chevron-down,
    .filters-toolbar .icon-chevron-down * {
        fill: var(--primary-dark);
    }

    < !-- estilos de card products -->.classes-section {
        background: #fff;
        padding: 50px 0px;
        position: relative;
        overflow: hidden;
    }

    .classes-section .section-tittle h2 {
        color: #383838;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.3;
    }

    .classes-section .section-tittle p {
        color: #ff0000;
        font-size: 18px;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .class-item {
        overflow: hidden;
        margin-bottom: 30px;
        box-shadow: rgb(255 154 154 / 17%) -8px -4px 14px 7px, rgb(0 0 0 / 23%) 0px 3px 6px;
        background: #ffffff;
        border-radius: var(--radius);
        height: 365px;
    }

    .class-item .ci-pic {
        position: relative;
        overflow: hidden;
    }

    .class-item .ci-pic .img-1 {
        min-width: 100%;
        transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    }

    .class-item .ci-pic .img-2 {
        min-width: 100%;
        transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    }

    .class-item:hover .img-1 {
        transform: scale(1.1);
        transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    }

    .class-item:hover .img-2 {
        transform: scale(1.1);
        transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    }

    .class-item .ci-text {
        /*background: rgb(250, 0, 0, 0.5);*/
        position: relative;
        padding: 10px 30px 26px 30px;
        z-index: 1;
    }

    .class-item .ci-text:after {
        position: absolute;
        left: -5px;
        top: -44px;
        height: 100px;
        width: 600px;
        border-top: 4px solid #ff0000;
        background: #0a0a0a;
        content: "";
        -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        z-index: -1;
    }

    .class-item .ci-text span {
        color: #ff0000;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "fuente-titulos"
    }

    .class-item .ci-text h5 {
        font-size: 20px;
        color: #ffffff;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 4px;
    }

    .class-item .ci-text h4 {
        font-size: 26px;
        color: #ffffff;
        font-weight: 600;
        text-transform: uppercase;
        margin-top: 4px;
    }

    .class-item .ci-text a {
        display: inline-block;
        width: 46px;
        height: 46px;
        background: #ff0000;
        line-height: 46px;
        text-align: center;
        font-size: 24px;
        color: #ffffff;
        position: absolute;
        right: 30px;
        bottom: 26px;
        border-radius: 6px;
    }

    .class-item .ci-text a:before,
    .class-item .ci-text a:after {
        border-color: #ff5050;
        -webkit-transition: all 0.25s;
        transition: all 0.25s;
        border-style: solid;
        border-width: 0;
        content: "";
        height: 24px;
        position: absolute;
        width: 24px;
    }

    .class-item .ci-text a:before {
        border-left-width: 2px;
        border-top-width: 2px;
        left: -5px;
        top: -5px;
        border-radius: 6px 0px 0px 0px;
    }

    .class-item .ci-text a:after {
        border-bottom-width: 2px;
        border-right-width: 2px;
        bottom: -5px;
        right: -5px;
        border-radius: 0px 0px 6px 0px;
    }

    .class-item .ci-text a:hover:before,
    .class-item .ci-text a:hover:after {
        height: 100%;
        width: 100%;
    }

    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .class-item .ci-text:after {
            width: 750px;
        }
    }

    @media (max-width: 768px) {
        .class-item .ci-text:after {
            width: 750px;
        }

        .class-item .ci-pic .img-1 {
            min-width: 100%;
            height: 240px;
        }

        .class-item .ci-pic .img-2 {
            min-width: 100%;
            height: 240px;
        }
    }

    .el-wrapper .box-up {
        width: 100%;
        height: 300px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }

    .el-wrapper img {
        height: 318px;
        width: 318px;
    }

    .custom-shape-divider-bottom-1660074041 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }

    .custom-shape-divider-bottom-1660074041 svg {
        position: relative;
        display: block;
        width: calc(220% + 1.3px);
        height: 150px;
        bottom: 0;
    }

    .custom-shape-divider-bottom-1660074041 .shape-fill {
        fill: #FFFFFF;
    }

    .custom-shape-divider-bottom-1660071886 .shape-fill {
        bottom: -1px;
        width: 210%;
    }

    .description-category {
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: end;
        font-size: 22px;
    }

    .description-category h5 {
        font-size: 16px;
        font-family: "fuente-contenido" !important;
        font-weight: 900;
        letter-spacing: 0.5px;
        padding: 2px 0;
        height: 50px;
        align-items: center;
        display: flex;
        /* margin-bottom: -20px !important; */
        text-align: center;
        width: 100%;
        justify-content: center;
        /* margin-left: 25px !important; */
        margin: 0px 10px 5px 10px !important;
        text-transform: capitalize;
    }

    .description-category .btn-circle {
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        display: flex;
        font-size: 15px;
        margin: 0 10px 10px 0;
        align-items: center;
        position: absolute;
        right: 0;
        top: -55px;
        justify-content: center;
        align-items: center;
    }

    .class-item:hover .img-1 {
        transform: scale(1.1);
        transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
    }

    < !-- end estilos card-product -->
</style>